/* Text selection color */
::selection {
   background: #FFE816;
   color: #000;
}
::-moz-selection { 
   background: #FFE816;
   color: #000;
}

body {
   color: #000;
}

   


.donotdisplay {
   display: none !important;
}

/* select menus */
md-select-menu,
md-select-menu md-content {
   max-height: 100vh;
}

prm-topbar {
   height: auto;
}
#local-top-menu .local-top-menu-row {
   display: flex;
   flex-direction: row;
   flex-wrap: nowrap;
   justify-content: space-between;
   align-content: stretch;
   align-items: center;
   background-color: #4B2E83;
}

#local-top-menu #local-logo-user-row {
   height: 70px;
   max-height: 70px;
}
#local-top-menu #local-user-menu {
   display: flex;
   flex-direction: row;
   flex-wrap: nowrap;
   justify-content: flex-end;
   align-content: stretch;
   align-items: center;   
}
#local-top-menu #local-logo-user-row #local-skips-logo {
   height: 100%;
   display: flex;
  align-items: stretch;
  justify-content: center;   
  min-height: 100%;
}

#local-top-menu  prm-skip-to {
   position: relative;
   height: 100%;
   min-height: 100%;
}  
#local-top-menu  prm-skip-to a {
   display: flex;
   height: 100%;
   min-height: 100%;   
}
#local-top-menu  prm-skip-to a:hover {
   text-decoration: underline;
}
#local-top-menu  prm-skip-to a:focus {
   position: absolute;
   background-color: #165788;
   color: #fff;
   font-weight: bold;
   z-index: 20;
   height: 100%;
   min-height: 100%;
   outline: dotted 1px #aaa !important;  
}

#local-top-menu prm-logo div#banner{
   padding: 0 0.85em;
}
#local-top-menu prm-logo div#banner a {
   padding-bottom: 0;
   display: flex;
   min-height: 100%;
   align-items: center;
}




#local-top-menu prm-logo div#banner a:hover,
#local-top-menu prm-logo div#banner a:focus {
   color: transparent;
   background-color: transparent;
   box-shadow: none;
}
#local-top-menu prm-logo div#banner a:focus {
   outline: dotted 1px #aaa !important;
}
   
   
#local-top-menu prm-logo div#banner a img {
   max-height: none;
   height: auto;
   min-width: 350px;
}



prm-main-menu[menu-type="full"] prm-library-card-menu + md-divider,
prm-main-menu[menu-type="full"] prm-library-card-menu + md-divider + div {
   display: none;
}

/* increase spacing between the library card icon and the label */
prm-library-card-menu > button > prm-icon + span {
   margin-left: 6px !important;
   display: inline-block !important;  
}


#local-top-menu prm-search-bookmark-filter  {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: stretch;
    align-items: center;
}

#local-top-menu prm-authentication {
   margin-right: 0.75em;
}

#local-user-menu prm-library-card-menu button,
#local-top-menu prm-authentication button {
   color: #fff;
   padding-top: 2px;
   padding-bottom: 2px;
   border-radius: 5px;
}
#local-top-menu prm-authentication button[ng-click*="handleLogin"] {
   background-color: #4A7C01;
}
#local-top-menu prm-authentication button[ng-click*="handleLogin"]:hover:not([disabled]),
#local-top-menu prm-authentication button[ng-click*="handleLogin"]:focus:not([disabled]) {
   background-color: #D7A900;
   color: #000;
}

#local-top-menu prm-search-bookmark-filter a.md-button.md-icon-button {
   color: #fff;
   border-radius: 5px;
   box-shadow: none !important; 
   margin: 0 2px;   
}

#local-top-menu prm-search-bookmark-filter #favorites-button::before {
   border-radius: 5px;
   background-color: #C75B12;
}

#local-top-menu prm-library-card-menu button:hover:not([disabled]),
#local-top-menu prm-library-card-menu button:focus:not([disabled]),
#local-top-menu prm-authentication button[ng-click*="handleLogout"]:hover:not([disabled]),
#local-top-menu prm-authentication button[ng-click*="handleLogout"]:focus:not([disabled]), 
#local-top-menu prm-search-bookmark-filter a.md-button.md-icon-button:hover:not([disabled]),
#local-top-menu prm-search-bookmark-filter a.md-button.md-icon-button:focus:not([disabled]) {
   color: #D7A900;
}
#local-top-menu prm-library-card-menu button:focus:not([disabled]),
#local-top-menu prm-authentication button[ng-click*="handleLogout"]:focus:not([disabled]), 
#local-top-menu prm-search-bookmark-filter a.md-button.md-icon-button:focus:not([disabled]) {
   outline: dotted 1px #aaa !important;
}

#local-top-menu prm-search-bookmark-filter #favorites-button md-icon {
   transition-duration: 0.4s;
   transition-delay: 0s;
}

#local-top-menu prm-search-bookmark-filter #favorites-button prm-icon svg {
   transition-duration: 0.4s;
}

#local-top-menu prm-main-menu[menu-type="menu"] {
   padding: 6px 0.75em 0;
   height: 50px;
   box-shadow: none !important;   
}

#local-top-menu prm-main-menu[menu-type="menu"]  .md-button {
   color: #fff;
   font-size: 1rem;
   white-space: nowrap;
   box-shadow: none;
   border-radius: 5px;
}
#local-top-menu prm-main-menu[menu-type="menu"]  .md-button:hover,
#local-top-menu prm-main-menu[menu-type="menu"]  .md-button:focus {
   color: #D7A900;
}
#local-top-menu prm-main-menu[menu-type="menu"]  .md-button:focus {
   outline: dotted 1px #aaa !important;
   z-index: 100;
}



/* hide the responsive button for main menu by default */
#local-top-menu #local-main-menu-responsive {
   display: none;
   padding: 0;
   height: 100%;
   margin-right: 4px;
}
#local-top-menu #local-main-menu-responsive button.md-button {
   min-width: 0;
   padding: 2px 0.5em;
}

@media screen and (max-width: 800px) {
   #local-top-menu prm-main-menu[menu-type="menu"]  .md-button span.responsiveText {
      display: none;
   }
}
@media screen and (max-width: 740px) {
   #local-top-menu prm-library-card-menu button > span {
      /* display: none; */
   }

}
@media screen and (max-width: 740px) {

   #local-top-menu prm-authentication span.responsiveText {
      display: none;
   }

}
@media screen and (max-width: 725px) {  
   #local-top-menu prm-logo div#banner a img {
      min-width: 230px
   }
}
@media screen and (max-width: 600px) {  
   #local-top-menu #local-main-menu-responsive {
      display: block;
   }
   #local-top-menu #local-main-menu-row {
      display: none;
   }
   #local-top-menu prm-authentication {
      display: none;
   }
   #local-top-menu prm-library-card-menu button {
      min-width: 0;
      padding-left: 8px;
      padding-right: 8px;
   }
   #local-top-menu prm-library-card-menu button > span {
      display: none !important;
   }
}
@media screen and (max-width: 550px) {
   #local-top-menu prm-logo div#banner a img {
      min-width: 300px
   }
}
@media screen and (max-width: 460px) {
   #local-top-menu prm-logo div#banner a img {
      min-width: 200px
   }
}
@media screen and (max-width: 390px) {
   #local-top-menu prm-logo div#banner a img {
      min-width: 125px
   }
}


prm-top-bar-before + div.layout-row { display: none; }

/* TEMPORARY */

a[href^="http://sandbox01-na.alma.exlibrisgroup.com"]:after {
   content: "\27f8 Should be Alma Iframe";
   position: relative;
   display: inline-block;
   left: 2em;
   text-transform: uppercase;
   font-weight: bold;
   color: hotpink;
}

/* Maybe remove the infamous gray bar */
body.md-dialog-is-showing  {
   overflow-x:visible!important;
}
/* UW Branding Font */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700,700i');
body {
   font-family: 'Open Sans', sans-serif;
}

/* Upper Left Branding Image */



/* toolbar menu text */
/*
prm-topbar .md-button.button-over-dark {
   color: #fff;
}
prm-topbar .md-button.button-over-dark:hover:not([disabled]),
prm-topbar .md-button.button-over-dark:focus:not([disabled]) {
   color: #D7A900;
}
prm-main-menu .md-button:focus {
   outline: 1px dotted #D7A900;
}
prm-main-menu[menu-type="menu"] .md-button {
   font-size: 90%;
   box-shadow: none !important;
}

*/
/* hide the default browse link in both main menus */
prm-main-menu .top-nav-bar-links > a:last-of-type {
  display: none;
}
prm-main-menu[menu-type="full"] div.custom-links-container > md-card:last-of-type {
   display: none;
}

/* text-space on the home page */
md-card.default-card {
   background-color: #fff;
}

/* alert bar for login */
.alert-bar {
   background-color: #4A7C01;
}



/* login alerts */
.prm-alert-border, .bar.alert-bar {
   background-color: #4A7C01;
   border: none;
   color: #fff;
   border-radius: 0;
   font-weight: bold;
}
.bar prm-authentication .md-button {
   color: #fff;
   font-weight: bold;
}
.bar prm-authentication .md-button:hover:not([disabled]),
.bar prm-authentication .md-button:focus:not([disabled]) {
   color: #000;
   background-color: #d7a900;
}
.bar prm-authentication + md-divider {
   display: none;
}
.bar button.dismiss-alert-button {
   color: #fff;
}
.bar button.dismiss-alert-button:hover:not([disabled]),
.bar button.dismiss-alert-button:focus:not([disabled]) {
   color: #000;
   background-color: #d7a900;
}


/* result item background colors */
prm-search-result-list .results-title,
prm-search-result-list md-list-item {
   background-color: white;
}


/* Hide Features on Virtual Browse
   The actual sections on the page have IDs we can hide. The problem is the menu
   on the left of the Full Display. The only means to specifically target them
   right now is to use aria-label.
   
   Recommendation: 
   Add 'DO_NOT_USE' to the appropriate brief.results.tabs.* code table entry 
   
   Currently hidden features:
   - Tags
   - Virtual Browse
 */
prm-full-view#fullView #virtualBrowse,
prm-full-view#fullView #tags,
prm-full-view#fullView div#services-index button[aria-label^="DO_NOT_USE"] {
   display: none;
}

/* fullview overall */
.full-view-inner-container {
   background-color: white;
}

/* Item Title */
prm-brief-result .item-title span {
   color: inherit;
}
prm-brief-result .item-title a {
   color: #4b2e83;
}
prm-brief-result .item-title a:hover,
prm-brief-result .item-title a:focus  {
   color: #85754d;
   background-color: transparent;
   box-shadow: none;
}
prm-brief-result .item-title a:focus {
   outline: dotted 1px #444 !important;
   outline-offset: 1px;
}
prm-full-view prm-brief-result .item-title {
   cursor: default;
}
prm-full-view prm-brief-result .item-title a:hover,
prm-full-view prm-brief-result .item-title a:focus  {
   color: #4b2e83;
   cursor: default;
   background-color: transparent;  
   box-shadow: none;
}

prm-login-alma-mashup > .bar.alert-bar {
   /* border-bottom: none; */
}



.result-item-actions > .md-button {
   opacity: 0.8;
}

/* citation trail buttons */
prm-citation-trails-indication {
   margin-right: 0.5em;
}
prm-citation-trails-indication .md-button.button-with-icon,
prm-citation-trails-indication .md-button.md-icon-button {
   background-color: #4b2e83;
   color: #fff;
}
prm-citation-trails-indication .md-button.button-with-icon._md-focused:not([disabled]),
prm-citation-trails-indication .md-button.button-with-icon.hovered:not([disabled]),
prm-citation-trails-indication .md-button.button-with-icon.md-focused:not([disabled]),
prm-citation-trails-indication .md-button.button-with-icon:focus:not([disabled]),
prm-citation-trails-indication .md-button.button-with-icon:hover:not([disabled]),
prm-citation-trails-indication .md-button.md-icon-button._md-focused:not([disabled]),
prm-citation-trails-indication .md-button.md-icon-button.hovered:not([disabled]),
prm-citation-trails-indication .md-button.md-icon-button.md-focused:not([disabled]),
prm-citation-trails-indication .md-button.md-icon-button:focus:not([disabled]),
prm-citation-trails-indication .md-button.md-icon-button:hover:not([disabled]) {
   color: #d7a900;
}
prm-citation-trails-indication .md-button.button-with-icon._md-focused:not([disabled]),
prm-citation-trails-indication .md-button.button-with-icon.hovered:not([disabled]),
prm-citation-trails-indication .md-button.button-with-icon.md-focused:not([disabled]),
prm-citation-trails-indication .md-button.button-with-icon:focus:not([disabled]),
prm-citation-trails-indication .md-button.button-with-icon:hover:not([disabled]),
prm-citation-trails-indication .md-button.md-icon-button._md-focused:not([disabled]),
prm-citation-trails-indication .md-button.md-icon-button.hovered:not([disabled]),
prm-citation-trails-indication .md-button.md-icon-button.md-focused:not([disabled]),
prm-citation-trails-indication .md-button.md-icon-button:focus:not([disabled]),
prm-citation-trails-indication .md-button.md-icon-button:hover:not([disabled]) {
   background-color: rgb(62,32,108);
}
prm-citation-trails-item .item-type {
   color: #85754D;
   font-size: 1rem;
}

/* fix availability & request options wrapping */
.__gt-xs .full-view-section-content {
   padding-left: 10em;
}
prm-full-view .services-index-under #services-index {
   max-width: 10em; /* 7.5em + 2.5em */
}
prm-full-view prm-brief-result-container .result-item-text {
   padding-left: 4.5em; /* + 2.5em given increased width of share/save sidebar */
}


div#services-index .md-button{
   white-space: normal;
   line-height: normal;
   padding-top: 8px;
   padding-bottom: 8px;
}


/* in prm-full-view-after, we hide optional notes we might like to add to
   certain item's full display
 */
prm-full-view-after #localOptionalStatements {
   display: none;
}
prm-full-view {
   color: #000;
}
prm-full-view .localNote {
   padding: 0.75em 1em;
   font-size: 0.9rem;
   font-weight: bold;
   color: #fff;
   background-color: #165788;
}
.full-view-section md-divider {
   opacity: 1;
   border-bottom: solid 2px #85754D;
}
prm-full-view .localNote p {
   margin: 0;
}
prm-full-view .section-title.light-text {
   font-weight: normal;
   color: #000;
   padding-right: 0.5em;
}

parm-full-view .localNote p + p {
   margin-top: 0.5em;
}
prm-full-view .localNote a:link,
prm-full-view .localNote a:visited {
   color: #FFE816;
}
prm-full-view .localNote a:hover,
prm-full-view .localNote a:focus {
   text-decoration: underline;
   background-color: transparent;
   color: #FFE816;
   box-shadow: none;
}
prm-full-view .localNote a svg {
   color: #FFE816;
   margin-left: 1px;   
}
prm-full-view .localNote.localNoteOADOI {
   background-color: #E9E9E9;
   color: #000;
   display: flex;
   align-items: center;
}
prm-full-view .localNote.localNoteOADOI img {
   width: 25px;
   height: 25px;
   margin-right: 0.5em;
}
prm-full-view .localNote.localNoteOADOI a:link,
prm-full-view .localNote.localNoteOADOI a:visited,
prm-full-view .localNote.localNoteOADOI a svg {
   color: #001add;
}

prm-alma-mashup.margin-bottom-large {
   margin-bottom: 0;
}


/* Show/Hide Summit Holdings */
#summitButton {
   background-color: #4B2E83;
   color: #fff;
   font-weight: bold;
   padding: 0 8px;
   margin-left: 0;
}
#summitButton:hover,
#summitButton:focus {
   color: #D7A900;
}
#summitButton:focus {
   outline: dotted 1px #444 !important;
   outline-offset: 1px;
}
#summitLinks {
   border: solid 1px #444;
   padding: 0.5em 0.75em;
}
#summitLinks md-list-item.md-2-line {
   min-height: 0;
}
#summitLinks md-list-item + md-list-item {
   margin-top: 0.75em;
}
#summitLinks  md-list-item span.availability-status {
   font-weight: bold;
}
#summitLinks  md-list-item prm-icon {
   display: none;
}

/* Alerts - UW Library */
div#libAlerts-outer {
   background-color: #C61029;
   color: #fff;
   line-height: 1.25;
   font-size: 1.125rem;
   padding: 0.75rem;
   display: flex;
}
div#libAlerts-outer > img {
   width: 70px;
   height: 70px;
}
div#libAlerts {
   margin: 0 auto;
   max-width: 94%;
   padding-left: 0.75rem;
   position: relative;
   min-height: 70px;
}
#libAlerts > div + div {
   margin-top: 0.75em;
}
div#libAlerts p {
   margin: 0;
}
div#libAlerts p + p {
   margin-top: 0.5em;
}
/* adds a little dividing line between UW-wide alerts and library alerts if both are present */
div#uwalert-alert-message + div#libAlerts-outer {
  border-top: solid 1px #d7a900
}
div#libAlerts a {
   color: #FFE816;
}
div#libAlerts a:hover,
div#libAlerts a:focus {
   background-color: transparent;
   color: #FFE816;
   box-shadow: none;
   text-decoration: underline;
}
div#libAlerts a:focus {
   outline: dotted 1px #fff !important;
   outline-offset: 1px;
}
@media screen and (max-width: 550px) {
   div#libAlerts-outer {
      font-size: 1rem;
      padding: 0.5rem;
   }
   div#libAlerts-outer > img   {
      display: none;
   }
   div#libAlerts {
      padding-left: 0;
   }
}


/* help widget */
#local-help-widget {
   -webkit-transform-origin: left top;
    transform-origin: left top;
   -webkit-transform: rotate(90deg);
   -ms-transform: rotate(90deg);
    transform: rotate3d(0.001,0.001,1,90deg);
   text-align: center;
   position: fixed;
   z-index: 900000;
   display: block;
   text-decoration: none;
   cursor: pointer;
   background-color: transparent;
   padding: 0px;
   font-size: 1rem;
   font-weight: bold;
   width: 140px;
   top: 18%;
   right: -141px;
   transition: right 300ms;
}
#local-help-widget.moveLeft {
   right: calc(-141px + 400px - 1px);
}

#local-help-widget button {
   width: 100%;
   display: block;
   font-weight: bold;
   background-color: #D7A900;
   color: #000;
   border: none;
   padding-left: 0;
   padding-right: 0;
   padding-top: 0.5em;
   padding-bottom: 0.5em;
   border: solid 1px black;
   border-radius: 0 0 15px 15px;
}
#local-help-widget button::-moz-focus-inner {
   border-style: none;
   padding: 0;
}


#local-help-widget button:hover,
#local-help-widget button:focus {
   /* padding-top: calc(0.75em + 8px); */
   color: #fff;
   background-color: #C75B12;
}
#local-help-widget button:focus {
   outline: dotted 1px #aaa !important;
}


#help-modal-overlay {
   display: none;
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: white;
   opacity: 0.25;
   z-index: 900000;
}
#help-modal-overlay.open {
   display: block;
}

#help-modal {
   display: none;
   transition: right 300ms;
   position: fixed;
   top: 18%;
   right: -400px;
   padding: 0;
   border: 1px solid #000;
   background-color: #fff;
   z-index: 900002;
   width: 400px;
   min-height: 240px;
}

#help-modal.open {
   display: block;
}
#help-modal.moveLeft {
   right: -1px;
}

h1#help-modal-header {
   color: #fff;
   background-color: #4B2E83;
   text-align: left;
   padding: 10px;
   font-size: 1.25rem;
   font-weight: bold;
   margin-bottom: 0;
}
button#help-modal-close {
   position: absolute;
   top: 10px;
   right: 10px;
   padding: 0;
   border-style: none;
   color: #fff;
   background-color: transparent;
}
button#help-modal-close:focus,
button#help-modal-close:hover {
   color: #d7a900;
}
button#help-modal-close:focus {
   outline: dotted 1px #fff;
}

#help-modal div.modal-content div.modal-row  {
   margin-right: 0.75rem;
   margin-left: 0.75rem;
}
#help-modal div.modal-content div.modal-row.modal-row-first {
   margin-top: 0.5rem;
}
#help-modal div.modal-content div.modal-row + div.modal-row {
   margin-top: 0.75rem;
}
#help-modal div.modal-content div.modal-row > a {
   display: flex;
   font-weight: bold;
   align-items: center;
   font-size: 1.1rem;
   margin-bottom: 3px;
}
#help-modal div.modal-content div.modal-row > a:focus,
#help-modal div.modal-content div.modal-row > a:hover {
   box-shadow: none;
   color: #85754D;
   background-color: transparent;
}
#help-modal div.modal-content div.modal-row > a:focus {
   outline: dotted 1px #888;
   outline-offset: 2px;
}

#help-modal div.modal-content div.modal-row > a span {
   padding-left: 0.375em;
}
#help-modal div.modal-content div.modal-row > a img {
   width: 30px;
   height: 30px;
}
#help-modal div.modal-content div.modal-row p {
   margin: 0;
}
#help-modal div.modal-content div.modal-row.help-footer {
   margin-left: 0;
   margin-right: 0;
   display: flex;
   justify-content: space-between;
   background-color: #E8E3D3;
   border-top: solid 1px #000;
}
#help-modal div.modal-content div.modal-row.help-footer a {
   padding: 0;
   margin-bottom: 0;
}
#help-modal div.modal-content div.modal-row.help-footer a span {
  padding-left: 0;
  font-size: 0.875rem;
  padding: 0.5rem 0.75rem;
} 
#help-modal div.modal-content div.modal-row.help-footer a:hover,
#help-modal div.modal-content div.modal-row.help-footer a:focus {
   text-decoration: underline;
   color: #001add;
}

@media screen and (max-width: 550px) {
   #local-help-widget {
      font-size: 0.75rem;
      width: 100px;
      top: 25%;
      right: -101px;
   }
   #local-help-widget.moveLeft {
      right: calc(-101px + 100vw - 1px);
   }   

   #help-modal {
      display: none;
      transition: right 300ms;
      position: fixed;
      top: 25%;
      right: -100vw;
      padding: 0;
      border: 1px solid #000;
      background-color: #fff;
      z-index: 900002;
      width: 100vw;
      min-height: 240px;
   }
}

/* Hide the edit button on personal details */
md-card#personalDetails md-card-header {
   display: none;
}
md-card#personalDetails md-divder {
   margin: 0.5em 2px 1em;
}

/* hide the email controls */
md-card#personalDetails div.card-content-section:nth-child(5) {
   display: none;
}
/* hide the language area */
md-card#personalDetails + md-card {
   display: none;
}

md-card#personalDetails input[type="text"][disabled] {
   color: #000;
   border: none;
   padding: 0;
   line-height: initial;
   height: auto;
}
md-card#personalDetails md-input-container label {
   position:absolute;
   left:-10000px;
   top:auto;
   width:1px;
   height:1px;
   overflow:hidden;
   clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
   clip: rect(1px, 1px, 1px, 1px);
   clip-path: polygon(0px 0px, 0px 0px,0px 0px, 0px 0px);
}

md-card#personalDetails  md-card-content  > div > h4 {
   width: auto;
   height: auto;
   overflow: auto;
   left: 20px;
   min-height: 0;
   position: absolute;
}
md-card#personalDetails > md-card-content > div > div > div > md-input-container:nth-child(1) {
   margin-top: 14px;
}
#local-personal-info-change-list {
   padding-top: 8px;
}

/* facets */

div.sidebar-section.available-facets {
   margin-bottom: 0.75em;
}

prm-facet-group > div:first-child {
   border: solid 1px #444;
}

prm-facet-group button.md-button.section-title {
   line-height: 1;
   border-radius: 0;
   color: #fff;
   background-color: #4B2E83;
   padding: 0.375em 0.375em;
   margin-bottom: 0;
   margin-top: 0;
}
prm-facet-group button.md-button.section-title:hover:not([disabled]),
prm-facet-group button.md-button.section-title:focus:not([disabled]) {
   background-color: #D7A900;

}
prm-facet-group button.md-button.section-title  .section-title-header {
   color: #fff;
}
prm-facet-group button.md-button.section-title:hover:not([disabled]) .section-title-header,
prm-facet-group button.md-button.section-title:focus:not([disabled]) .section-title-header {
   color: #000;
}
prm-facet-group button.md-button.section-title div.layout-row {
   justify-content: space-between;
}
prm-facet-group button.md-button.section-title .section-title-header,
prm-facet-group button.md-button.section-title prm-icon {
   color: inherit;
}
prm-facet-group div.expand-section-button {
   text-align: right;
} 
prm-facet-group div.section-content {
   background-color: #fff;
   color: #001add;
   padding: 0.125em;
}

prm-facet-group div.expand-section-button {
   text-align: right;
} 
prm-breadcrumbs .md-chip.facet-excluded {
   color: #000;
}
prm-facet-group .md-chips {
   font-size: 0.9375rem;
}
prm-facet-group .section-content .md-chips .md-chip {
   justify-content: space-between;
}
/* Show More Button */
prm-facet-group .md-button.button-as-link.link-alt-color {
   margin: 6px 6px 4px !important;
   color: #fff;
   background-color: #4B2E83;
   border-radius: 5px;
   padding: 0.5em;
}
prm-facet-group .md-button.button-as-link.link-alt-color:hover:not([disabled]),
prm-facet-group .md-button.button-as-link.link-alt-color:focus :not([disabled]){
   color: #000;
   background-color: #D7A900; 
}
/* facet name */
prm-facet-group .section-content .md-chips .md-chip strong.facet-title {
   color: #001add;
   line-height: inherit;
   border-radius: 5px;
   margin-left: 2px;
   padding-right: 4px;
   padding-left: 5px;
   z-index: 0;
}
prm-facet-group .section-content .md-chips .md-chip strong.facet-title:focus:not([disabled]),
prm-facet-group .section-content .md-chips .md-chip strong.facet-title:focus:not([disabled]):before {
   background-color: #E8E3D3;
   color: #001add;
}
.section-content .md-chips .md-chip .facet-title:hover:not([disabled]) {
   color: #001add;
   background-color: #E8E3D3;
}

prm-facet-group .section-content .md-chips .md-chip strong.facet-title:before {
   display: inline-block;
   content: "";
   position: absolute;
   left: 31px; 
   right: 0;
   z-index: -1;
   background-color: transparent;
   height: 100%;
}

prm-facet-group .section-content .md-chips .md-chip strong.facet-title:hover:before,
prm-facet-group .section-content .md-chips .md-chip strong.facet-title:focus:before {
   background-color: #E8E3D3;
}
prm-facet .section-content .md-chips .md-chip .facet-title + span.text-in-brackets {
   color: #000;
   font-style: normal;
   z-index: 2;
}

/* exclude button */
.available-facets .section-content .md-chips .md-chip .button-include:focus:not([disabled]),
.available-facets .section-content .md-chips .md-chip .button-include:focus:not([disabled]) {
   color: #4A7C01;
   background: #E8E3D3;
}
.available-facets .section-content .md-chips .md-chip .button-exclude:hover:not([disabled]),
.available-facets .section-content .md-chips .md-chip .button-exclude:focus:not([disabled]) {
   color: #C61029;
   background: #E8E3D3;
}





/* checkboxes */
.multiselect-facet-group .md-chip .md-chip-content md-checkbox {
   left: 0;
}
.multiselect-facet-group .md-chip .md-chip-content,
.multiselect-facet-group .md-chip .md-chip-remove-container {
   left: 0;
}
/* make the facet checkbox always visible and not move left-right */
.multiselect-facet-group.multiselect-inactive .md-chip md-checkbox,
.multiselect-facet-group.multiselect-active .md-chip {
   transform: none;
}
.section-content .md-chips .md-chip .md-chip-content {
   padding-left: 8px;
   border-radius: 5px;
}
.section-content .md-chips .md-chip .md-chip-remove-container .md-button {
   color: #001add;
   opacity: 1;
   border: 0;
   border-radius: 5px;
   min-height: 0;
   height: 100%;
   padding: 0 6px;
   min-width: 0px;
   width: auto;
}
.available-facets .section-content .md-chips .md-chip + .md-chip {
   margin-top: 0.125em;
}
.available-facets .section-content .md-chips .md-chip:hover .md-button {
   transform: none;
}



.available-facets md-checkbox ._md-icon, 
.available-facets md-checkbox .md-icon {
   opacity: 1;
   border-color: #888;
}
.available-facets md-checkbox:hover ._md-icon, 
.available-facets md-checkbox:hover .md-icon,
.available-facets md-checkbox:focus ._md-icon, 
.available-facets md-checkbox:focus .md-icon  {
   border-color: #000;
   background-color: #E8E3D3;
}
.available-facets md-checkbox.md-checked ._md-icon,
.available-facets md-checkbox.md-checked .md-icon {
   color: #fff;
   background-color: #4A7C01;
}
.available-facets md-checkbox.md-checked:hover ._md-icon,
.available-facets md-checkbox.md-checked:hover .md-icon,
.available-facets md-checkbox.md-checked:focus ._md-icon,
.available-facets md-checkbox.md-checked:focus .md-icon {
   background-color:  #D7A900;
   color: #000;
   
}
md-checkbox.md-focused:not([disabled]):not(.md-checked) ._md-container:before  {
   background-color: transparent;
}

.multiselect-facet-group .md-chip.facet-excluded .md-chip-content md-checkbox ._md-icon:before {
   transform: rotate(-45deg) ;
   opacity: 0;
   content: '';
   position: absolute;
   height: 2px;
   width: 16px;
   top: 9px;
   left: auto;
   right: 2px;
   margin-top: 0;
   background-color: #fff;
   border: none;
}
.multiselect-facet-group .md-chip.facet-excluded .md-chip-content md-checkbox ._md-icon:after {
   transform: rotate(45deg);
   opacity: 0;
   content: '';
   position: absolute;
   height: 2px;
   width: 16px;
   top: 9px;
   left: 2px;
   margin-top: 0;
   background-color: #fff;
   border: none;
}
.multiselect-facet-group .md-chip.facet-excluded .md-chip-content md-checkbox.md-checked ._md-icon:before,
.multiselect-facet-group .md-chip.facet-excluded .md-chip-content md-checkbox.md-checked ._md-icon:after {
   opacity: 1;
}

.multiselect-facet-group .md-chip.facet-excluded md-checkbox.md-checked:hover ._md-icon,
.multiselect-facet-group .md-chip.facet-excluded md-checkbox.md-checked:focus ._md-icon {
   background-color: #D7A900;
}
.multiselect-facet-group .md-chip.facet-excluded md-checkbox.md-checked:hover ._md-icon:before,
.multiselect-facet-group .md-chip.facet-excluded md-checkbox.md-checked:hover ._md-icon:after,
.multiselect-facet-group .md-chip.facet-excluded md-checkbox.md-checked:focus ._md-icon:before,
.multiselect-facet-group .md-chip.facet-excluded md-checkbox.md-checked:focus ._md-icon:after { 
   background-color: #000;
}



prm-facet .sidebar-inner-wrapper {
   padding-left: 0;
}

md-content.main.padded-container {
   padding: 1em;
}



.multiselect-facet-group .md-chip .md-range-content {
   left: 0;
   padding-left: 8px;
   padding-top: 14px;
   justify-content: space-between;
}

.md-range-content md-input-container {
   margin: 0;
}
.md-range-content  md-input-container.md-input-has-value label:not(.md-no-float) {
   color: #000;
   opacity: 1;
   transform: scale(1) translate3d(0,3px,0);
}
.md-range-content  md-input-container + button > span {
   font-weight: bold;
}

md-input-container label[translate="facets.date.slider.from"] + input,
md-input-container label[translate="facets.date.slider.to"] + input  {
   border-bottom-width: 1px;
   border-bottom-color: #aaa;
   max-width: 4em;
   padding-right: 0;
}
.md-range-content md-input-container:after {

   background-color: #C75B12;
}

/* multiselect apply panel */
div.multiselect-submit {
  margin-left: 0.5rem;
}
div.multiselect-submit div.multiselect-submit-inner {
   background-color: #E8E3D3;
   border-color: #000;
   border-width: 1px 1px 0;
   border-style: solid;
   border-top-left-radius: 15px;
   border-top-right-radius: 15px;   
   padding: 15px 15px;
}
div.multiselect-submit div.multiselect-submit-inner button.md-button {
   font-size: 0.9375rem;
   border-radius: 5px;
   margin: 0 3px;
   line-height: 1;
}
div.multiselect-submit div.multiselect-submit-inner button:hover,
div.multiselect-submit div.multiselect-submit-inner button:focus {
   background-color: #D7A900 !important;
   color: #000 !important;
}
div.multiselect-submit div.multiselect-submit-inner button:focus {
   outline: dotted 1px #000 !important;
   outline-offset: 1px;
}

/* external search */
prm-facet-exact-after #externalSearch {
   background-color: #fff;
}
prm-facet-exact-after #externalSearch div.md-chip-content {
   padding-left: 3px; /* 8 - 5px due to padding */
}
prm-facet-exact-after #externalSearch div.md-chip-content strong {
   line-height: 1;
}
prm-facet-exact-after #externalSearch div.md-chips {
   margin-bottom: 4px;
}
prm-facet-exact-after #externalSearch a {
   border-radius: 5px;
   padding: 3px 5px;
   min-height: 28px;
   display: inline-flex;
   align-items: center;
}
prm-facet-exact-after #externalSearch a:hover,
prm-facet-exact-after #externalSearch a:focus {
   background-color: #E8E3D3;
   color: #001add;
   text-decoration: none;
   box-shadow: none;
}
prm-facet-exact-after #externalSearch a prm-icon {
   color: #001add;
   margin-left: 2px;
}
prm-facet-exact-after #externalSearch a > img {
   width: 22px;
   max-width: 22px;
   height: 22px;
   max-height: 22px;
   display: block;
   margin-right: 4px;
}




/* browse search */
/* browse by dropdown */
prm-browse-search-bar .classic-input .search-scope {
   background-color: #E8E3D3;
   border-color: #E8E3D3;
}
prm-browse-search-bar md-select:before {
   content: '';
   background-color: transparent;
   height: 3px;
   position: absolute;
   left: 0;
   right: 0;
   bottom: 6px;
}
prm-browse-search-bar md-select:hover:before,
prm-browse-search-bar md-select:focus:before {
   background-color: #85754D;
}

/* H3 on browse list page */
prm-browse-search md-list.prm-list.prm-linkable-list-items.prm-dense-list md-list-item .item-title {
   color: #001add;
}
/* .__gt-xs prm-browse-search prm-page-nav-menu { */
   /* left: auto ; */
   /* right: 1.5em; */
/* } */


/* e-journals */
/* journal search bar label */
prm-journals-search-bar .classic-input .search-scope {
   background-color: #E8E3D3;
   border-color: #E8E3D3;
}
prm-journals-search-bar > div.layout-row > div.layout-column {
   max-width: 90%;
}
prm-alphabet-toolbar .md-button {
   font-weight: bold;
}
prm-alphabet-toolbar .md-button.active {
   background: #85754D;
   color: #fff;
}
prm-alphabet-toolbar .md-button:hover:not([disabled]),
prm-alphabet-toolbar .md-button:focus:not([disabled]) {
   color: #D7A900;
   box-shadow: none;
   background-color: rgba(0,0,0,.1);
}
prm-alphabet-toolbar .md-button:focus:not([disabled]) {
   outline: dotted 1px #aaa !important;
}

/* Homepage: Different Libraries Tiles */
md-content > div.local-homepage {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;
}
md-card.homepage-campus {
   flex-grow: 0;
   box-shadow: 0 1px 0 0 rgba(0,0,0,.1),0 5px 5px -3px rgba(0,0,0,.2);
}
md-card.homepage-campus  md-card-title:not(#featuredResultTitle) {
   padding: 0.5rem;
   min-width: 25em;
}
.homepage-campus h2 {
   margin: 0;
   font-size: 1.25rem;
   font-weight: bold;
   color: #000;
}
md-card.homepage-campus  md-card-title:not(#featuredResultTitle)  + md-card-content.homepage-campus-links {
   padding: 0;
   display: flex;
   flex-direction: row;
   flex-wrap: nowrap;
   justify-content: space-between;
   align-content: stretch;
   align-items: center;

}
md-card-content.homepage-campus-links > a {
   padding: 0.5rem;
   text-transform: uppercase;   
}
md-card-content.homepage-campus-links > a:hover,
md-card-content.homepage-campus-links > a:focus {
   color: #fff;
   text-decoration: none;
   background: #4B2E83;
  
}

@media screen and (max-width: 450px) {
   md-card.homepage-campus  md-card-title:not(#featuredResultTitle) {
      padding: 0.25rem 0.5rem;
      min-width: calc(100vw - 40px) ;
   }
   .homepage-campus h2 {
      font-size: 1rem;
   }
   md-card-content.homepage-campus-links > a {
      font-size: 0.75rem;
      padding: 0.25rem 0.5rem;
   }
}

/* gets rid of the fan effect when there are multipel sources */
prm-search-result-thumbnail-container .fan-img {
   display: none;
}
prm-search-result-thumbnail-container .fan-img:nth-of-type(1) {
   display: block;
   transform: none;
}
prm-brief-result-container:hover prm-search-result-thumbnail-container .fan-img:nth-of-type(1) {
   transform: none;
}
/* hides the multiple sources exist line on brief results but show it on full display */
prm-search-result-frbr-line {
   display: none;
}
prm-full-view-service-container prm-search-result-frbr-line  {
   display: inline;
   color: transparent;
}
prm-full-view-service-container prm-search-result-frbr-line span[translate="nui.pcgroup.display"] {
   margin-right: -0.25em;
   color: rgb(135,135,135);
}
prm-full-view-service-container prm-search-result-frbr-line span[translate="nui.pcgroup.display"]:before {
   content: '(';
}
prm-full-view-service-container prm-search-result-frbr-line a:after {
   display: inline-block;
   color: rgb(135,135,135);
   content: ')';
}
prm-full-view-service-container prm-search-result-frbr-line a:hover,
prm-full-view-service-container prm-search-result-frbr-line a:focus {
   background-color: transparent;
   box-shadow: none;
   text-decoration: underline;
   color: #001add;
}

prm-full-view-service-container  prm-brief-result-container div.result-item-text div.media-content-type {
   width: 100%;
   display: flex;
   justify-content: space-between;
   align-items: flex-end;
   padding-right: 1em;
}

/* make the full display pin button more visible */
prm-full-view-service-container .result-item-actions .custom-button.pin-button  {
   color: #fff;
   background-color: #4B2E83;
}
prm-full-view-service-container .result-item-actions .custom-button.pin-button:hover:not([disabled]),
prm-full-view-service-container .result-item-actions .custom-button.pin-button:focus:not([disabled]) {
   background-color: #D7A900 !important;
}

/* configuring my account toolbar and the My ILL accoutn link */
/* configuring my account toolbar and the My ILL accoutn link */
h1.toolbar-title {
   color: #000;
}
#uwIllLink {
  margin-left: .5em;
  margin-right: .5em;
  font-weight: 300;
  color: #000;
  font-size: 1.2em;
  color: #001add;
}
#uwIllLink a:hover,
#uwIllLink a:focus {
  box-shadow: none;
  background-color: transparent;
  color: #001add;
  text-decoration: underline;
}
#uwIllLink md-icon {
  height: 20px;
  min-height: 20px;
  min-width: 20px;
  width: 20px;
  margin-left: 2px;
  top: -2px;
}
#uwIllLink md-icon svg {
  color: #001add;
}

/* pay fines link */
prm-fines-overview .tiles-grid-tile .tile-header .md-button md-icon {
   min-height: 18px;
   min-width: 18px;
}