/* primary color hook */
/* commenttttt*/
.md-button {
  color: #3a3a3a; }
  .md-button:hover:not([disabled]), .md-button:focus:not([disabled]), .md-button.hovered:not([disabled]), .md-button.md-focused:not([disabled]), .md-button._md-focused:not([disabled]) {
    color: #080606;
    background-color: rgba(58, 58, 58, 0.1); }
  .light-on-dark-dialog .md-button {
    color: white; }
    .light-on-dark-dialog .md-button:hover:not([disabled]), .light-on-dark-dialog .md-button:focus:not([disabled]), .light-on-dark-dialog .md-button.hovered:not([disabled]), .light-on-dark-dialog .md-button.md-focused:not([disabled]), .light-on-dark-dialog .md-button._md-focused:not([disabled]) {
      color: white;
      background-color: rgba(255, 255, 255, 0.08); }
  .md-button.md-primary {
    color: #001add; }
    .md-button.md-primary:hover:not([disabled]), .md-button.md-primary:focus:not([disabled]), .md-button.md-primary.hovered:not([disabled]), .md-button.md-primary.md-focused:not([disabled]), .md-button.md-primary._md-focused:not([disabled]) {
      color: #000e77;
      background-color: rgba(0, 26, 221, 0.1); }
  .md-button.md-secondary {
    color: #B7A57A; }
    .md-button.md-secondary:hover:not([disabled]), .md-button.md-secondary:focus:not([disabled]), .md-button.md-secondary.hovered:not([disabled]), .md-button.md-secondary.md-focused:not([disabled]), .md-button.md-secondary._md-focused:not([disabled]) {
      color: #937838;
      background-color: rgba(183, 165, 122, 0.1); }
  .md-button.button-confirm, .service-form-static-panel button.button-confirm prm-icon + span, .service-form-static-panel button.button-confirm prm-icon svg path {
    color: #4A7C01; }
    .md-button.button-confirm:hover:not([disabled]), .service-form-static-panel button.button-confirm prm-icon + span:hover:not([disabled]), .service-form-static-panel button.button-confirm prm-icon svg path:hover:not([disabled]), .md-button.button-confirm:focus:not([disabled]), .service-form-static-panel button.button-confirm prm-icon + span:focus:not([disabled]), .service-form-static-panel button.button-confirm prm-icon svg path:focus:not([disabled]), .md-button.button-confirm.hovered:not([disabled]), .service-form-static-panel button.button-confirm prm-icon + span.hovered:not([disabled]), .service-form-static-panel button.button-confirm prm-icon svg path.hovered:not([disabled]), .md-button.button-confirm.md-focused:not([disabled]), .service-form-static-panel button.button-confirm prm-icon + span.md-focused:not([disabled]), .service-form-static-panel button.button-confirm prm-icon svg path.md-focused:not([disabled]), .md-button.button-confirm._md-focused:not([disabled]), .service-form-static-panel button.button-confirm prm-icon + span._md-focused:not([disabled]), .service-form-static-panel button.button-confirm prm-icon svg path._md-focused:not([disabled]) {
      color: #0e1700;
      background-color: rgba(74, 124, 1, 0.1); }
    .light-on-dark-dialog .md-button.button-confirm, .light-on-dark-dialog .service-form-static-panel button.button-confirm prm-icon + span, .service-form-static-panel button.button-confirm .light-on-dark-dialog prm-icon + span, .light-on-dark-dialog .service-form-static-panel button.button-confirm prm-icon svg path, .service-form-static-panel button.button-confirm prm-icon svg .light-on-dark-dialog path {
      color: #73E9FF; }
      .light-on-dark-dialog .md-button.button-confirm:hover:not([disabled]), .light-on-dark-dialog .service-form-static-panel button.button-confirm prm-icon + span:hover:not([disabled]), .service-form-static-panel button.button-confirm .light-on-dark-dialog prm-icon + span:hover:not([disabled]), .light-on-dark-dialog .service-form-static-panel button.button-confirm prm-icon svg path:hover:not([disabled]), .service-form-static-panel button.button-confirm prm-icon svg .light-on-dark-dialog path:hover:not([disabled]), .light-on-dark-dialog .md-button.button-confirm:focus:not([disabled]), .light-on-dark-dialog .service-form-static-panel button.button-confirm prm-icon + span:focus:not([disabled]), .service-form-static-panel button.button-confirm .light-on-dark-dialog prm-icon + span:focus:not([disabled]), .light-on-dark-dialog .service-form-static-panel button.button-confirm prm-icon svg path:focus:not([disabled]), .service-form-static-panel button.button-confirm prm-icon svg .light-on-dark-dialog path:focus:not([disabled]), .light-on-dark-dialog .md-button.button-confirm.hovered:not([disabled]), .light-on-dark-dialog .service-form-static-panel button.button-confirm prm-icon + span.hovered:not([disabled]), .service-form-static-panel button.button-confirm .light-on-dark-dialog prm-icon + span.hovered:not([disabled]), .light-on-dark-dialog .service-form-static-panel button.button-confirm prm-icon svg path.hovered:not([disabled]), .service-form-static-panel button.button-confirm prm-icon svg .light-on-dark-dialog path.hovered:not([disabled]), .light-on-dark-dialog .md-button.button-confirm.md-focused:not([disabled]), .light-on-dark-dialog .service-form-static-panel button.button-confirm prm-icon + span.md-focused:not([disabled]), .service-form-static-panel button.button-confirm .light-on-dark-dialog prm-icon + span.md-focused:not([disabled]), .light-on-dark-dialog .service-form-static-panel button.button-confirm prm-icon svg path.md-focused:not([disabled]), .service-form-static-panel button.button-confirm prm-icon svg .light-on-dark-dialog path.md-focused:not([disabled]), .light-on-dark-dialog .md-button.button-confirm._md-focused:not([disabled]), .light-on-dark-dialog .service-form-static-panel button.button-confirm prm-icon + span._md-focused:not([disabled]), .service-form-static-panel button.button-confirm .light-on-dark-dialog prm-icon + span._md-focused:not([disabled]), .light-on-dark-dialog .service-form-static-panel button.button-confirm prm-icon svg path._md-focused:not([disabled]), .service-form-static-panel button.button-confirm prm-icon svg .light-on-dark-dialog path._md-focused:not([disabled]) {
        color: #0dd9ff;
        background-color: rgba(115, 233, 255, 0.1); }
  .md-button.button-notice {
    color: #C75B12; }
    .md-button.button-notice:hover:not([disabled]), .md-button.button-notice:focus:not([disabled]), .md-button.button-notice.hovered:not([disabled]), .md-button.button-notice.md-focused:not([disabled]), .md-button.button-notice._md-focused:not([disabled]) {
      color: #722f01;
      background-color: rgba(199, 91, 18, 0.1); }
  .md-button.button-prompt {
    color: #FFFCC4; }
    .md-button.button-prompt:hover:not([disabled]), .md-button.button-prompt:focus:not([disabled]), .md-button.button-prompt.hovered:not([disabled]), .md-button.button-prompt.md-focused:not([disabled]), .md-button.button-prompt._md-focused:not([disabled]) {
      color: #fff75e;
      background-color: rgba(255, 252, 196, 0.1); }
  .md-button.button-warn {
    color: #C61029; }
    .md-button.button-warn:hover:not([disabled]), .md-button.button-warn:focus:not([disabled]), .md-button.button-warn.hovered:not([disabled]), .md-button.button-warn.md-focused:not([disabled]), .md-button.button-warn._md-focused:not([disabled]) {
      color: #70000f;
      background-color: rgba(198, 16, 41, 0.1); }
  .md-button.button-link, md-grid-tile .tile-content > .md-button,
  .tiles-grid-tile .tile-content > .md-button {
    color: #001add;
    box-shadow: none; }
    .md-button.button-link:hover:not([disabled]), md-grid-tile .tile-content > .md-button:hover:not([disabled]),
    .tiles-grid-tile .tile-content > .md-button:hover:not([disabled]), .md-button.button-link:focus:not([disabled]), md-grid-tile .tile-content > .md-button:focus:not([disabled]),
    .tiles-grid-tile .tile-content > .md-button:focus:not([disabled]), .md-button.button-link.hovered:not([disabled]), md-grid-tile .tile-content > .md-button.hovered:not([disabled]),
    .tiles-grid-tile .tile-content > .md-button.hovered:not([disabled]), .md-button.button-link.md-focused:not([disabled]), md-grid-tile .tile-content > .md-button.md-focused:not([disabled]),
    .tiles-grid-tile .tile-content > .md-button.md-focused:not([disabled]), .md-button.button-link._md-focused:not([disabled]), md-grid-tile .tile-content > .md-button._md-focused:not([disabled]),
    .tiles-grid-tile .tile-content > .md-button._md-focused:not([disabled]) {
      color: #000e77;
      background-color: rgba(0, 26, 221, 0.1); }
    .md-button.button-link.link-alt-color, .section-title prm-icon.md-button.button-link, .section-title md-grid-tile .tile-content > prm-icon.md-button, md-grid-tile .section-title .tile-content > prm-icon.md-button, .section-title
    .tiles-grid-tile .tile-content > prm-icon.md-button,
    .tiles-grid-tile .section-title .tile-content > prm-icon.md-button, md-grid-tile .tile-content > .md-button.link-alt-color,
    .tiles-grid-tile .tile-content > .md-button.link-alt-color {
      color: #775c34; }
      .md-button.button-link.link-alt-color:hover:not([disabled]), .section-title prm-icon.md-button.button-link:hover:not([disabled]), .section-title md-grid-tile .tile-content > prm-icon.md-button:hover:not([disabled]), md-grid-tile .section-title .tile-content > prm-icon.md-button:hover:not([disabled]), .section-title
      .tiles-grid-tile .tile-content > prm-icon.md-button:hover:not([disabled]),
      .tiles-grid-tile .section-title .tile-content > prm-icon.md-button:hover:not([disabled]), md-grid-tile .tile-content > .md-button.link-alt-color:hover:not([disabled]),
      .tiles-grid-tile .tile-content > .md-button.link-alt-color:hover:not([disabled]), .md-button.button-link.link-alt-color:focus:not([disabled]), .section-title prm-icon.md-button.button-link:focus:not([disabled]), .section-title md-grid-tile .tile-content > prm-icon.md-button:focus:not([disabled]), md-grid-tile .section-title .tile-content > prm-icon.md-button:focus:not([disabled]), .section-title
      .tiles-grid-tile .tile-content > prm-icon.md-button:focus:not([disabled]),
      .tiles-grid-tile .section-title .tile-content > prm-icon.md-button:focus:not([disabled]), md-grid-tile .tile-content > .md-button.link-alt-color:focus:not([disabled]),
      .tiles-grid-tile .tile-content > .md-button.link-alt-color:focus:not([disabled]), .md-button.button-link.link-alt-color.hovered:not([disabled]), .section-title prm-icon.md-button.button-link.hovered:not([disabled]), .section-title md-grid-tile .tile-content > prm-icon.md-button.hovered:not([disabled]), md-grid-tile .section-title .tile-content > prm-icon.md-button.hovered:not([disabled]), .section-title
      .tiles-grid-tile .tile-content > prm-icon.md-button.hovered:not([disabled]),
      .tiles-grid-tile .section-title .tile-content > prm-icon.md-button.hovered:not([disabled]), md-grid-tile .tile-content > .md-button.link-alt-color.hovered:not([disabled]),
      .tiles-grid-tile .tile-content > .md-button.link-alt-color.hovered:not([disabled]), .md-button.button-link.link-alt-color.md-focused:not([disabled]), .section-title prm-icon.md-button.button-link.md-focused:not([disabled]), .section-title md-grid-tile .tile-content > prm-icon.md-button.md-focused:not([disabled]), md-grid-tile .section-title .tile-content > prm-icon.md-button.md-focused:not([disabled]), .section-title
      .tiles-grid-tile .tile-content > prm-icon.md-button.md-focused:not([disabled]),
      .tiles-grid-tile .section-title .tile-content > prm-icon.md-button.md-focused:not([disabled]), md-grid-tile .tile-content > .md-button.link-alt-color.md-focused:not([disabled]),
      .tiles-grid-tile .tile-content > .md-button.link-alt-color.md-focused:not([disabled]), .md-button.button-link.link-alt-color._md-focused:not([disabled]), .section-title prm-icon.md-button.button-link._md-focused:not([disabled]), .section-title md-grid-tile .tile-content > prm-icon.md-button._md-focused:not([disabled]), md-grid-tile .section-title .tile-content > prm-icon.md-button._md-focused:not([disabled]), .section-title
      .tiles-grid-tile .tile-content > prm-icon.md-button._md-focused:not([disabled]),
      .tiles-grid-tile .section-title .tile-content > prm-icon.md-button._md-focused:not([disabled]), md-grid-tile .tile-content > .md-button.link-alt-color._md-focused:not([disabled]),
      .tiles-grid-tile .tile-content > .md-button.link-alt-color._md-focused:not([disabled]) {
        color: #352610;
        background-color: rgba(119, 92, 52, 0.1); }
  .md-button.button-large {
    font-size: 1.2em;
    padding: .25em .75em; }
    .md-button.button-large.button-with-icon {
      padding-left: .5em; }
      .md-button.button-large.button-with-icon > prm-icon + span {
        padding-right: 0; }
  .md-button.button-zero-radius {
    border-radius: 0; }
  .md-button.button-no-hover:hover {
    background-color: transparent; }
  .md-button.md-icon-button.square-button {
    border-radius: 0; }
  .md-button.md-icon-button.icon-button-large {
    height: 50px;
    width: 50px;
    min-height: 50px;
    min-width: 50px; }
    .md-button.md-icon-button.icon-button-large md-icon {
      height: 40px;
      width: 40px;
      min-height: 40px;
      min-width: 40px; }
    .md-button.md-icon-button.icon-button-large prm-icon {
      position: relative;
      left: -4px;
      top: -3px; }
  .md-button.button-with-icon > prm-icon {
    display: inline-block; }
    .md-button.button-with-icon > prm-icon md-icon {
      position: relative;
      top: -2px; }
    .md-button.button-with-icon > prm-icon + span {
      display: inline-block;
      margin-left: 3px;
      padding-right: 0.5em; }
      [dir=rtl] .md-button.button-with-icon > prm-icon + span {
        padding-right: 0;
        padding-left: 0.5em; }
      .md-button.button-large .md-button.button-with-icon > prm-icon + span {
        padding-right: 0; }
  .md-button.button-with-icon > span + prm-icon {
    margin-right: 0; }
    .md-button.button-with-icon > span + prm-icon md-icon {
      margin-left: 5px;
      margin-right: 0; }
  .md-button.icon-button-with-text, prm-action-list > md-nav-bar .md-nav-item .md-button, .saved-query-list > md-nav-bar .md-nav-item .md-button {
    font-size: 10px;
    line-height: 14px;
    font-weight: 600;
    letter-spacing: 0.03em; }
  .md-button.outline-button {
    border: 1px solid; }
  .md-button.md-raised:not([disabled]) {
    box-shadow: 0 2px 8px -4px rgba(0, 0, 0, 0.26); }
  .md-button[disabled="disabled"] {
    color: #ccc !important;
    cursor: not-allowed; }
  .md-button.button-as-link, .bar prm-authentication .md-button {
    text-transform: none;
    font-size: 1em;
    min-width: 0;
    padding: .3em .35em;
    line-height: 1em;
    min-height: 0;
    margin: 0 .25em;
    overflow: visible;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    letter-spacing: 0;
    color: #001add; }
    .md-button.button-as-link:hover:not([disabled]), .bar prm-authentication .md-button:hover:not([disabled]), .md-button.button-as-link:focus:not([disabled]), .bar prm-authentication .md-button:focus:not([disabled]), .md-button.button-as-link.hovered:not([disabled]), .bar prm-authentication .md-button.hovered:not([disabled]), .md-button.button-as-link.md-focused:not([disabled]), .bar prm-authentication .md-button.md-focused:not([disabled]), .md-button.button-as-link._md-focused:not([disabled]), .bar prm-authentication .md-button._md-focused:not([disabled]) {
      color: #000e77;
      background-color: rgba(0, 26, 221, 0.1); }
    .md-button.button-as-link.link-alt-color, .bar prm-authentication .md-button.link-alt-color, .bar prm-authentication .section-title prm-icon.md-button, .section-title .bar prm-authentication prm-icon.md-button, .section-title prm-icon.md-button.button-as-link {
      color: #775c34; }
      .md-button.button-as-link.link-alt-color:hover:not([disabled]), .bar prm-authentication .md-button.link-alt-color:hover:not([disabled]), .bar prm-authentication .section-title prm-icon.md-button:hover:not([disabled]), .section-title .bar prm-authentication prm-icon.md-button:hover:not([disabled]), .section-title prm-icon.md-button.button-as-link:hover:not([disabled]), .md-button.button-as-link.link-alt-color:focus:not([disabled]), .bar prm-authentication .md-button.link-alt-color:focus:not([disabled]), .bar prm-authentication .section-title prm-icon.md-button:focus:not([disabled]), .section-title .bar prm-authentication prm-icon.md-button:focus:not([disabled]), .section-title prm-icon.md-button.button-as-link:focus:not([disabled]), .md-button.button-as-link.link-alt-color.hovered:not([disabled]), .bar prm-authentication .md-button.link-alt-color.hovered:not([disabled]), .bar prm-authentication .section-title prm-icon.md-button.hovered:not([disabled]), .section-title .bar prm-authentication prm-icon.md-button.hovered:not([disabled]), .section-title prm-icon.md-button.button-as-link.hovered:not([disabled]), .md-button.button-as-link.link-alt-color.md-focused:not([disabled]), .bar prm-authentication .md-button.link-alt-color.md-focused:not([disabled]), .bar prm-authentication .section-title prm-icon.md-button.md-focused:not([disabled]), .section-title .bar prm-authentication prm-icon.md-button.md-focused:not([disabled]), .section-title prm-icon.md-button.button-as-link.md-focused:not([disabled]), .md-button.button-as-link.link-alt-color._md-focused:not([disabled]), .bar prm-authentication .md-button.link-alt-color._md-focused:not([disabled]), .bar prm-authentication .section-title prm-icon.md-button._md-focused:not([disabled]), .section-title .bar prm-authentication prm-icon.md-button._md-focused:not([disabled]), .section-title prm-icon.md-button.button-as-link._md-focused:not([disabled]) {
        color: #352610;
        background-color: rgba(119, 92, 52, 0.1); }
    .md-button.button-as-link.button-external-link span, .bar prm-authentication .md-button.button-external-link span {
      position: relative;
      top: 1px; }
    .light-on-dark-dialog .md-button.button-as-link, .light-on-dark-dialog .bar prm-authentication .md-button, .bar prm-authentication .light-on-dark-dialog .md-button {
      color: #73E9FF; }
      .light-on-dark-dialog .md-button.button-as-link:hover:not([disabled]), .light-on-dark-dialog .bar prm-authentication .md-button:hover:not([disabled]), .bar prm-authentication .light-on-dark-dialog .md-button:hover:not([disabled]), .light-on-dark-dialog .md-button.button-as-link:focus:not([disabled]), .light-on-dark-dialog .bar prm-authentication .md-button:focus:not([disabled]), .bar prm-authentication .light-on-dark-dialog .md-button:focus:not([disabled]), .light-on-dark-dialog .md-button.button-as-link.hovered:not([disabled]), .light-on-dark-dialog .bar prm-authentication .md-button.hovered:not([disabled]), .bar prm-authentication .light-on-dark-dialog .md-button.hovered:not([disabled]), .light-on-dark-dialog .md-button.button-as-link.md-focused:not([disabled]), .light-on-dark-dialog .bar prm-authentication .md-button.md-focused:not([disabled]), .bar prm-authentication .light-on-dark-dialog .md-button.md-focused:not([disabled]), .light-on-dark-dialog .md-button.button-as-link._md-focused:not([disabled]), .light-on-dark-dialog .bar prm-authentication .md-button._md-focused:not([disabled]), .bar prm-authentication .light-on-dark-dialog .md-button._md-focused:not([disabled]) {
        color: #0dd9ff;
        background-color: rgba(115, 233, 255, 0.1); }
  .md-button.flex-button {
    display: -ms-flexbox;
    display: flex; }
  .md-button.inline-button {
    display: inline; }
    .md-button.inline-button.flex-button {
      display: -ms-inline-flexbox;
      display: inline-flex; }
  .md-button.md-mini {
    line-height: 40px;
    width: 40px;
    height: 40px;
    min-width: 40px; }
  .md-button.multi-line-button, .__sm prm-search-bar .search-switch-buttons .md-button, .__sm prm-journals-search-bar .search-switch-buttons .md-button, .__sm prm-browse-search-bar .search-switch-buttons .md-button, .__sm prm-tags-search-bar .search-switch-buttons .md-button {
    white-space: normal;
    line-height: 1.2em;
    padding: .5em; }
  .md-button.button-full-height {
    height: 100%; }
  .md-button.neutralized-button {
    max-width: none;
    max-height: none;
    text-transform: none;
    padding: 0;
    margin: 0;
    line-height: inherit;
    min-height: 0;
    min-width: 0;
    white-space: normal;
    text-align: inherit;
    overflow: visible;
    font-size: 1em;
    border-radius: 0; }
    .md-button.neutralized-button:hover {
      background-color: transparent; }
  .md-button.arrow-link-button .button-content {
    line-height: 1.4em; }
  .md-button.arrow-link-button:hover, .md-button.arrow-link-button:focus {
    background: transparent; }
  .md-button.arrow-link-button [link-arrow] {
    position: static; }
  .buttons-group .md-button {
    box-shadow: 1px 0 0 0 rgba(0, 0, 0, 0.1); }
    .buttons-group .md-button:first-child {
      box-shadow: 1px 0 0 0 rgba(0, 0, 0, 0.1), -1px 0 0 0 rgba(0, 0, 0, 0.1); }
      [dir="rtl"] .buttons-group .md-button:first-child {
        box-shadow: 1px 0 0 0 rgba(0, 0, 0, 0.1); }
    [dir="rtl"] .buttons-group .md-button:last-child {
      box-shadow: 1px 0 0 0 rgba(0, 0, 0, 0.1), -1px 0 0 0 rgba(0, 0, 0, 0.1); }
  .md-button .md-ripple-container + .md-ripple-container {
    display: none; }

.prm-primary-color, .request-form md-input-container label,
.request-form md-input-container label:not(.md-no-float):not(._md-container-ignore),
.request-form md-input-container md-select .md-select-value.md-select-placeholder,
.request-form md-input-container .md-input-container-dummy > .md-select-dummy .md-select-value.md-select-placeholder,
.request-form md-input-container md-select ._md-select-value._md-select-placeholder,
.request-form md-input-container .md-input-container-dummy > .md-select-dummy ._md-select-value._md-select-placeholder, .result-item-actions .md-icon-button, .result-item-actions .more-options-button, prm-add-query-to-saved-searches .custom-button, .md-autocomplete-suggestions .suggestion-scope, md-tabs md-tabs-wrapper md-tabs-canvas md-pagination-wrapper md-tab-item.md-active:not([disabled]), md-tabs md-tabs-wrapper md-tabs-canvas md-pagination-wrapper md-tab-item.md-focused:not([disabled]), md-tab-content .tab-content-header md-input-container md-select-value .md-text {
  color: #4B2E83; }

.prm-primary-bg, prm-spinner.overlay-cover.light-on-dark:after, prm-search-bar, prm-journals-search-bar, prm-browse-search-bar, prm-tags-search-bar {
  color: white;
  background-color: #4B2E83; }
  .prm-primary-bg.prm-hue1, prm-spinner.prm-hue1.overlay-cover.light-on-dark:after, prm-topbar .top-nav-bar, prm-search-bar.prm-hue1, prm-journals-search-bar.prm-hue1, prm-browse-search-bar.prm-hue1, prm-tags-search-bar.prm-hue1 {
    background-color: #452a78; }
  .prm-primary-bg.prm-hue2, prm-spinner.prm-hue2.overlay-cover.light-on-dark:after, prm-search-bar.prm-hue2, prm-journals-search-bar.prm-hue2, prm-browse-search-bar.prm-hue2, prm-tags-search-bar.prm-hue2, md-backdrop.md-opaque {
    background-color: #402770; }
  .prm-primary-bg.prm-hue3, prm-spinner.prm-hue3.overlay-cover.light-on-dark:after, prm-search-bar.prm-hue3, prm-journals-search-bar.prm-hue3, prm-browse-search-bar.prm-hue3, prm-tags-search-bar.prm-hue3 {
    background-color: #3c2569; }
    .prm-primary-bg.prm-hue3-important, prm-spinner.prm-hue3-important.overlay-cover.light-on-dark:after, prm-user-area md-fab-toolbar.md-is-open md-fab-trigger .md-fab-toolbar-background, prm-user-area md-fab-toolbar.md-is-open md-fab-trigger ._md-fab-toolbar-background, prm-search-bar.prm-hue3-important, prm-journals-search-bar.prm-hue3-important, prm-browse-search-bar.prm-hue3-important, prm-tags-search-bar.prm-hue3-important {
      background-color: #3c2569 !important; }
  .prm-primary-bg.prm-hue4, prm-spinner.prm-hue4.overlay-cover.light-on-dark:after, prm-search-bar.prm-hue4, prm-journals-search-bar.prm-hue4, prm-browse-search-bar.prm-hue4, prm-tags-search-bar.prm-hue4 {
    background-color: #35215d; }

.prm-primary-border {
  border-color: #4B2E83; }
  .prm-primary-border.prm-hue1 {
    border-color: #4B2E83; }
  .prm-primary-border.prm-hue2 {
    border-color: #4B2E83; }

.prm-secondary-color, prm-search-bookmark-filter .md-button, prm-topbar .top-nav-bar {
  color: #B7A57A; }
  .prm-secondary-color.prm-hue1, .link-alt-color, .section-title prm-icon, .result-item-actions .pin-button, prm-add-query-to-saved-searches .custom-button.pin-button, prm-search-bookmark-filter .prm-hue1.md-button, prm-topbar .prm-hue1.top-nav-bar, prm-recomendation-item .media-on-hover .pin-button {
    color: #775c34; }
  .prm-secondary-color.prm-hue2, prm-search-bookmark-filter .prm-hue2.md-button, prm-topbar .prm-hue2.top-nav-bar {
    color: #847247; }

.prm-secondary-bg, md-progress-linear[md-mode=indeterminate].header-progress-bar .md-bar {
  background-color: #B7A57A; }
  .prm-secondary-bg.prm-hue1, .new-result-item .list-item-count, md-progress-linear[md-mode=indeterminate].header-progress-bar .prm-hue1.md-bar, md-tabs md-ink-bar, md-input-container:after, prm-tags-list .md-chips .md-chip-input-container:after, prm-tags-list .md-chips ._md-chip-input-container:after, prm-tags-list md-chips .md-chip-input-container:after, prm-tags-list md-chips ._md-chip-input-container:after, .md-input-color-underline, md-input-container.empty-select-on-init:not(.md-input-focused) md-select md-select-value:after, md-input-container.empty-select-on-init:not(.md-input-focused) .md-input-container-dummy > .md-select-dummy md-select-value:after, md-radio-button.md-checked .md-on, md-radio-button.md-checked ._md-on {
    background-color: #775c34; }
  .prm-secondary-bg.prm-hue2, md-progress-linear[md-mode=indeterminate].header-progress-bar .prm-hue2.md-bar, md-checkbox.md-checked .md-icon,
  md-checkbox.md-checked ._md-icon {
    background-color: #847247; }

.prm-secondary-border {
  border-color: #B7A57A; }
  .prm-secondary-border.prm-hue1, md-select:focus .md-select-value, .md-input-container-dummy > .md-select-dummy:focus .md-select-value,
  .md-input-focused md-select .md-select-value,
  .md-input-focused .md-input-container-dummy > .md-select-dummy .md-select-value,
  md-select:not([disabled]):focus .md-select-value,
  .md-input-focused
  md-select:not([disabled]) .md-select-value, md-radio-button.md-checked .md-off, md-radio-button.md-checked ._md-off {
    border-color: #775c34; }

.prm-background, html, body, prm-search .ui-blocker, prm-featured-results .horizontal-content-container .horizontal-content-control, prm-search-bar .simple-search-wrapper .search-options:after, prm-journals-search-bar .simple-search-wrapper .search-options:after, prm-browse-search-bar .simple-search-wrapper .search-options:after, prm-tags-search-bar .simple-search-wrapper .search-options:after, prm-search-bar .simple-search-wrapper .search-options md-divider, prm-journals-search-bar .simple-search-wrapper .search-options md-divider, prm-browse-search-bar .simple-search-wrapper .search-options md-divider, prm-tags-search-bar .simple-search-wrapper .search-options md-divider, .prm-view-overlay-inner, .__xs prm-facet,
.__sm prm-facet, .__sm .sidebar,
.__xs .sidebar, .multiselect-submit .multiselect-submit-inner, prm-full-view-cont prm-recomendation-item .media-on-hover .pin-button, prm-full-view-cont .recommendations-title:after, prm-full-view-cont .recommendations-title prm-icon, md-virtual-repeat-container#prm-simple-search .md-autocomplete-suggestions md-divider, md-dialog md-toolbar:not(.md-menu-toolbar), md-card .card-content-block {
  background-color: #e9e9e9;
  border-color: #e1e1e1; }
  .prm-background.prm-hue1, html.prm-hue1, body.prm-hue1, .prm-horizontal-content .horizontal-content-control, .prm-horizontal-content .horizontal-content-control:hover, prm-search .prm-hue1.ui-blocker, prm-featured-results .horizontal-content-container .prm-hue1.horizontal-content-control, prm-search-bar .simple-search-wrapper .prm-hue1.search-options:after, prm-journals-search-bar .simple-search-wrapper .prm-hue1.search-options:after, prm-browse-search-bar .simple-search-wrapper .prm-hue1.search-options:after, prm-tags-search-bar .simple-search-wrapper .prm-hue1.search-options:after, prm-search-bar .simple-search-wrapper .search-options md-divider.prm-hue1, prm-journals-search-bar .simple-search-wrapper .search-options md-divider.prm-hue1, prm-browse-search-bar .simple-search-wrapper .search-options md-divider.prm-hue1, prm-tags-search-bar .simple-search-wrapper .search-options md-divider.prm-hue1, .prm-hue1.prm-view-overlay-inner, .full-view-inner-container + .full-view-aside:before, .__xs prm-facet.prm-hue1,
  .__sm prm-facet.prm-hue1, .__sm .prm-hue1.sidebar,
  .__xs .prm-hue1.sidebar, .multiselect-submit .prm-hue1.multiselect-submit-inner, prm-full-view-cont prm-recomendation-item .media-on-hover .prm-hue1.pin-button, prm-full-view-cont .prm-hue1.recommendations-title:after, prm-full-view-cont .recommendations-title prm-icon.prm-hue1, md-virtual-repeat-container#prm-simple-search .md-autocomplete-suggestions md-divider.prm-hue1, md-dialog md-toolbar.prm-hue1:not(.md-menu-toolbar), .default-tabs[md-border-bottom] > md-tabs-wrapper, md-card .prm-hue1.card-content-block, md-card .card-divider, md-toolbar.default-toolbar,
  md-toolbar.md-primoExplore-theme.default-toolbar,
  md-toolbar.default-toolbar:not(.md-menu-toolbar) {
    background-color: #f7f7f7;
    border-color: #d5d5d5;
    background-color: gainsboro; }
  .prm-background.prm-hue2, html.prm-hue2, body.prm-hue2, .line-clamp-1:after, .line-clamp-2:after, .line-clamp-3:after, .line-clamp-4:after, .line-clamp-5:after, .prm-horizontal-content .horizontal-content-item md-card > .md-button, prm-search-result-list .results-header,
  prm-search-result-list .results-footer, prm-search .prm-hue2.ui-blocker, prm-featured-result-item md-card md-card-title, prm-featured-results .horizontal-content-container .prm-hue2.horizontal-content-control, .list-item-wrapper, prm-search-bar .simple-search-wrapper .prm-hue2.search-options:after, prm-journals-search-bar .simple-search-wrapper .prm-hue2.search-options:after, prm-browse-search-bar .simple-search-wrapper .prm-hue2.search-options:after, prm-tags-search-bar .simple-search-wrapper .prm-hue2.search-options:after, prm-search-bar .simple-search-wrapper .search-options md-divider.prm-hue2, prm-journals-search-bar .simple-search-wrapper .search-options md-divider.prm-hue2, prm-browse-search-bar .simple-search-wrapper .search-options md-divider.prm-hue2, prm-tags-search-bar .simple-search-wrapper .search-options md-divider.prm-hue2, prm-search-bar .advanced-search-tabs, prm-journals-search-bar .advanced-search-tabs, prm-browse-search-bar .advanced-search-tabs, prm-tags-search-bar .advanced-search-tabs, prm-search-bar .advanced-search-output md-card, prm-journals-search-bar .advanced-search-output md-card, prm-browse-search-bar .advanced-search-output md-card, prm-tags-search-bar .advanced-search-output md-card, .prm-hue2.prm-view-overlay-inner, .prm-full-view-dialog, .full-view-inner-container, .__xs prm-facet.prm-hue2,
  .__sm prm-facet.prm-hue2, .__sm .prm-hue2.sidebar,
  .__xs .prm-hue2.sidebar, .multiselect-submit .prm-hue2.multiselect-submit-inner, .__xs prm-full-view-cont .recommendations-wrapper,
  .__sm prm-full-view-cont .recommendations-wrapper, prm-recomendation-item .media-on-hover .pin-button, prm-recomendation-item .media-on-hover .pin-button:hover, prm-full-view-cont prm-recomendation-item .media-on-hover .prm-hue2.pin-button, .recommendations-title:after, prm-full-view-cont .prm-hue2.recommendations-title:after, .__xs prm-full-view-cont .recommendations-title:after,
  .__sm prm-full-view-cont .recommendations-title:after, .recommendations-title prm-icon, prm-full-view-cont .recommendations-title prm-icon.prm-hue2, .__xs prm-full-view-cont .recommendations-title prm-icon,
  .__sm prm-full-view-cont .recommendations-title prm-icon, prm-browse-search md-list.prm-list.prm-linkable-list-items md-list-item ._md-list-item-inner, prm-tags-results-list md-list.prm-list.prm-linkable-list-items md-list-item ._md-list-item-inner, prm-resource-recommender md-card, md-virtual-repeat-container#prm-simple-search .md-autocomplete-suggestions md-divider.prm-hue2, md-dialog md-toolbar.prm-hue2:not(.md-menu-toolbar), md-grid-tile,
  .tiles-grid-tile, md-grid-tile md-list prm-spinner.overlay-cover:after,
  md-grid-tile .tile-content prm-spinner.overlay-cover:after,
  .tiles-grid-tile md-list prm-spinner.overlay-cover:after,
  .tiles-grid-tile .tile-content prm-spinner.overlay-cover:after, md-card.default-card, prm-featured-result-item md-card, md-card .prm-hue2.card-content-block, md-list.prm-list.prm-linkable-list-items md-list-item ._md-list-item-inner {
    background-color: #f3f3f3; }
  .prm-background.prm-hue3, html.prm-hue3, body.prm-hue3, prm-search .prm-hue3.ui-blocker, prm-featured-results .horizontal-content-container .prm-hue3.horizontal-content-control, prm-search-bar .simple-search-wrapper .prm-hue3.search-options:after, prm-journals-search-bar .simple-search-wrapper .prm-hue3.search-options:after, prm-browse-search-bar .simple-search-wrapper .prm-hue3.search-options:after, prm-tags-search-bar .simple-search-wrapper .prm-hue3.search-options:after, prm-search-bar .simple-search-wrapper .search-options md-divider.prm-hue3, prm-journals-search-bar .simple-search-wrapper .search-options md-divider.prm-hue3, prm-browse-search-bar .simple-search-wrapper .search-options md-divider.prm-hue3, prm-tags-search-bar .simple-search-wrapper .search-options md-divider.prm-hue3, .prm-hue3.prm-view-overlay-inner, .__xs prm-facet.prm-hue3,
  .__sm prm-facet.prm-hue3, .__sm .prm-hue3.sidebar,
  .__xs .prm-hue3.sidebar, .multiselect-submit .prm-hue3.multiselect-submit-inner, prm-full-view-cont prm-recomendation-item .media-on-hover .prm-hue3.pin-button, prm-full-view-cont .prm-hue3.recommendations-title:after, prm-full-view-cont .recommendations-title prm-icon.prm-hue3, md-virtual-repeat-container#prm-simple-search .md-autocomplete-suggestions md-divider.prm-hue3, md-dialog md-toolbar.prm-hue3:not(.md-menu-toolbar), md-card .prm-hue3.card-content-block {
    background-color: white; }
  .prm-background.prm-hue4, html.prm-hue4, body.prm-hue4, prm-search .prm-hue4.ui-blocker, prm-featured-result-item.dummy-item md-card, prm-featured-results .horizontal-content-container .prm-hue4.horizontal-content-control, prm-search-bar .simple-search-wrapper .prm-hue4.search-options:after, prm-journals-search-bar .simple-search-wrapper .prm-hue4.search-options:after, prm-browse-search-bar .simple-search-wrapper .prm-hue4.search-options:after, prm-tags-search-bar .simple-search-wrapper .prm-hue4.search-options:after, prm-search-bar .simple-search-wrapper .search-options md-divider.prm-hue4, prm-journals-search-bar .simple-search-wrapper .search-options md-divider.prm-hue4, prm-browse-search-bar .simple-search-wrapper .search-options md-divider.prm-hue4, prm-tags-search-bar .simple-search-wrapper .search-options md-divider.prm-hue4, .prm-hue4.prm-view-overlay-inner, .__xs prm-facet.prm-hue4,
  .__sm prm-facet.prm-hue4, .__sm .prm-hue4.sidebar,
  .__xs .prm-hue4.sidebar, .multiselect-submit .prm-hue4.multiselect-submit-inner, prm-full-view-cont prm-recomendation-item .media-on-hover .prm-hue4.pin-button, prm-full-view-cont .prm-hue4.recommendations-title:after, prm-full-view-cont .recommendations-title prm-icon.prm-hue4, md-virtual-repeat-container#prm-simple-search .md-autocomplete-suggestions md-divider.prm-hue4, md-dialog md-toolbar.prm-hue4:not(.md-menu-toolbar), md-card .prm-hue4.card-content-block {
    background-color: #f1f1f1; }
  .prm-background.prm-hue5, html.prm-hue5, body.prm-hue5, .login-dialog .loader-wrapper, prm-search .prm-hue5.ui-blocker, prm-featured-results .horizontal-content-container .prm-hue5.horizontal-content-control, prm-search-bar .simple-search-wrapper .prm-hue5.search-options:after, prm-journals-search-bar .simple-search-wrapper .prm-hue5.search-options:after, prm-browse-search-bar .simple-search-wrapper .prm-hue5.search-options:after, prm-tags-search-bar .simple-search-wrapper .prm-hue5.search-options:after, prm-search-bar .simple-search-wrapper .search-options md-divider.prm-hue5, prm-journals-search-bar .simple-search-wrapper .search-options md-divider.prm-hue5, prm-browse-search-bar .simple-search-wrapper .search-options md-divider.prm-hue5, prm-tags-search-bar .simple-search-wrapper .search-options md-divider.prm-hue5, .prm-hue5.prm-view-overlay-inner, .__xs prm-facet.prm-hue5,
  .__sm prm-facet.prm-hue5, .__sm .prm-hue5.sidebar,
  .__xs .prm-hue5.sidebar, .multiselect-submit .prm-hue5.multiselect-submit-inner, prm-full-view-cont prm-recomendation-item .media-on-hover .prm-hue5.pin-button, prm-full-view-cont .prm-hue5.recommendations-title:after, prm-full-view-cont .recommendations-title prm-icon.prm-hue5, md-virtual-repeat-container#prm-simple-search .md-autocomplete-suggestions md-divider.prm-hue5, md-dialog md-toolbar.prm-hue5:not(.md-menu-toolbar), md-card .prm-hue5.card-content-block {
    background-color: rgba(233, 233, 233, 0.5); }
  .prm-background.prm-hue6, html.prm-hue6, body.prm-hue6, .bar.filter-bar, prm-search .prm-hue6.ui-blocker, prm-featured-results .horizontal-content-container .prm-hue6.horizontal-content-control, prm-search-bar .simple-search-wrapper .prm-hue6.search-options:after, prm-journals-search-bar .simple-search-wrapper .prm-hue6.search-options:after, prm-browse-search-bar .simple-search-wrapper .prm-hue6.search-options:after, prm-tags-search-bar .simple-search-wrapper .prm-hue6.search-options:after, prm-search-bar .simple-search-wrapper .search-options md-divider.prm-hue6, prm-journals-search-bar .simple-search-wrapper .search-options md-divider.prm-hue6, prm-browse-search-bar .simple-search-wrapper .search-options md-divider.prm-hue6, prm-tags-search-bar .simple-search-wrapper .search-options md-divider.prm-hue6, .prm-hue6.prm-view-overlay-inner, .__xs prm-facet.prm-hue6,
  .__sm prm-facet.prm-hue6, .__sm .prm-hue6.sidebar,
  .__xs .prm-hue6.sidebar, .multiselect-submit .prm-hue6.multiselect-submit-inner, prm-full-view-cont prm-recomendation-item .media-on-hover .prm-hue6.pin-button, prm-full-view-cont .prm-hue6.recommendations-title:after, prm-full-view-cont .recommendations-title prm-icon.prm-hue6, md-virtual-repeat-container#prm-simple-search .md-autocomplete-suggestions md-divider.prm-hue6, md-dialog md-toolbar.prm-hue6:not(.md-menu-toolbar), md-card .prm-hue6.card-content-block {
    background-color: #e6e6e6; }
  .prm-background.prm-hue7, html.prm-hue7, body.prm-hue7, .links-block .separated-block-item:after, prm-search .prm-hue7.ui-blocker, prm-featured-results .horizontal-content-container .prm-hue7.horizontal-content-control, prm-search-bar .simple-search-wrapper .prm-hue7.search-options:after, prm-journals-search-bar .simple-search-wrapper .prm-hue7.search-options:after, prm-browse-search-bar .simple-search-wrapper .prm-hue7.search-options:after, prm-tags-search-bar .simple-search-wrapper .prm-hue7.search-options:after, prm-search-bar .simple-search-wrapper .search-options md-divider.prm-hue7, prm-journals-search-bar .simple-search-wrapper .search-options md-divider.prm-hue7, prm-browse-search-bar .simple-search-wrapper .search-options md-divider.prm-hue7, prm-tags-search-bar .simple-search-wrapper .search-options md-divider.prm-hue7, .prm-hue7.prm-view-overlay-inner, .__xs prm-facet.prm-hue7,
  .__sm prm-facet.prm-hue7, .__sm .prm-hue7.sidebar,
  .__xs .prm-hue7.sidebar, .multiselect-submit .prm-hue7.multiselect-submit-inner, prm-full-view-cont prm-recomendation-item .media-on-hover .prm-hue7.pin-button, prm-full-view-cont .prm-hue7.recommendations-title:after, prm-full-view-cont .recommendations-title prm-icon.prm-hue7, prm-search-result-list prm-personalize-results-button .md-button md-switch .md-bar, prm-search-result-list prm-personalize-results-button .md-button md-switch ._md-bar, md-virtual-repeat-container#prm-simple-search .md-autocomplete-suggestions md-divider.prm-hue7, md-dialog md-toolbar.prm-hue7:not(.md-menu-toolbar), md-card .prm-hue7.card-content-block, md-switch .md-bar {
    background-color: #cfcfcf; }
  .prm-background.prm-hue8, html.prm-hue8, body.prm-hue8, .service-form-static-panel, prm-search .prm-hue8.ui-blocker, prm-featured-results .horizontal-content-container .prm-hue8.horizontal-content-control, prm-search-bar .simple-search-wrapper .prm-hue8.search-options:after, prm-journals-search-bar .simple-search-wrapper .prm-hue8.search-options:after, prm-browse-search-bar .simple-search-wrapper .prm-hue8.search-options:after, prm-tags-search-bar .simple-search-wrapper .prm-hue8.search-options:after, prm-search-bar .simple-search-wrapper .search-options md-divider.prm-hue8, prm-journals-search-bar .simple-search-wrapper .search-options md-divider.prm-hue8, prm-browse-search-bar .simple-search-wrapper .search-options md-divider.prm-hue8, prm-tags-search-bar .simple-search-wrapper .search-options md-divider.prm-hue8, .prm-hue8.prm-view-overlay-inner, .__xs prm-facet.prm-hue8,
  .__sm prm-facet.prm-hue8, .__sm .prm-hue8.sidebar,
  .__xs .prm-hue8.sidebar, .multiselect-submit .prm-hue8.multiselect-submit-inner, prm-full-view-cont prm-recomendation-item .media-on-hover .prm-hue8.pin-button, prm-full-view-cont .prm-hue8.recommendations-title:after, prm-full-view-cont .recommendations-title prm-icon.prm-hue8, md-virtual-repeat-container#prm-simple-search .md-autocomplete-suggestions md-divider.prm-hue8, md-dialog md-toolbar.prm-hue8:not(.md-menu-toolbar), md-card .prm-hue8.card-content-block {
    background-color: #f8f8f8; }
  .prm-background.prm-hue9, html.prm-hue9, body.prm-hue9, prm-search .prm-hue9.ui-blocker, prm-featured-results .horizontal-content-container .prm-hue9.horizontal-content-control, prm-search-bar .simple-search-wrapper .prm-hue9.search-options:after, prm-journals-search-bar .simple-search-wrapper .prm-hue9.search-options:after, prm-browse-search-bar .simple-search-wrapper .prm-hue9.search-options:after, prm-tags-search-bar .simple-search-wrapper .prm-hue9.search-options:after, prm-search-bar .simple-search-wrapper .search-options md-divider.prm-hue9, prm-journals-search-bar .simple-search-wrapper .search-options md-divider.prm-hue9, prm-browse-search-bar .simple-search-wrapper .search-options md-divider.prm-hue9, prm-tags-search-bar .simple-search-wrapper .search-options md-divider.prm-hue9, .prm-hue9.prm-view-overlay-inner, .__xs prm-facet.prm-hue9,
  .__sm prm-facet.prm-hue9, .__sm .prm-hue9.sidebar,
  .__xs .prm-hue9.sidebar, .multiselect-submit .prm-hue9.multiselect-submit-inner, prm-full-view-cont prm-recomendation-item .media-on-hover .prm-hue9.pin-button, prm-full-view-cont .prm-hue9.recommendations-title:after, prm-full-view-cont .recommendations-title prm-icon.prm-hue9, md-virtual-repeat-container#prm-simple-search .md-autocomplete-suggestions md-divider.prm-hue9, md-dialog md-toolbar.prm-hue9:not(.md-menu-toolbar), md-tabs md-tabs-wrapper md-tabs-canvas md-pagination-wrapper md-tab-item.md-focused:not([disabled]), md-card .prm-hue9.card-content-block {
    background-color: gainsboro; }
  .prm-background.prm-hue10, html.prm-hue10, body.prm-hue10, prm-search .prm-hue10.ui-blocker, prm-featured-results .horizontal-content-container .prm-hue10.horizontal-content-control, prm-search-bar .simple-search-wrapper .prm-hue10.search-options:after, prm-journals-search-bar .simple-search-wrapper .prm-hue10.search-options:after, prm-browse-search-bar .simple-search-wrapper .prm-hue10.search-options:after, prm-tags-search-bar .simple-search-wrapper .prm-hue10.search-options:after, prm-search-bar .simple-search-wrapper .search-options md-divider.prm-hue10, prm-journals-search-bar .simple-search-wrapper .search-options md-divider.prm-hue10, prm-browse-search-bar .simple-search-wrapper .search-options md-divider.prm-hue10, prm-tags-search-bar .simple-search-wrapper .search-options md-divider.prm-hue10, .prm-hue10.prm-view-overlay-inner, .__xs prm-facet.prm-hue10,
  .__sm prm-facet.prm-hue10, .__sm .prm-hue10.sidebar,
  .__xs .prm-hue10.sidebar, .multiselect-submit .prm-hue10.multiselect-submit-inner, prm-full-view-cont prm-recomendation-item .media-on-hover .prm-hue10.pin-button, prm-full-view-cont .prm-hue10.recommendations-title:after, prm-full-view-cont .recommendations-title prm-icon.prm-hue10, md-virtual-repeat-container#prm-simple-search .md-autocomplete-suggestions md-divider.prm-hue10, md-dialog md-toolbar.prm-hue10:not(.md-menu-toolbar), md-card .prm-hue10.card-content-block, md-toolbar .toolbar-divider,
  md-toolbar.md-primoExplore-theme .toolbar-divider,
  md-toolbar:not(.md-menu-toolbar) .toolbar-divider {
    background-color: #cacaca; }
  .prm-background.prm-hue11, html.prm-hue11, body.prm-hue11, prm-search .prm-hue11.ui-blocker, prm-featured-results .horizontal-content-container .prm-hue11.horizontal-content-control, prm-search-bar .simple-search-wrapper .prm-hue11.search-options:after, prm-journals-search-bar .simple-search-wrapper .prm-hue11.search-options:after, prm-browse-search-bar .simple-search-wrapper .prm-hue11.search-options:after, prm-tags-search-bar .simple-search-wrapper .prm-hue11.search-options:after, prm-search-bar .simple-search-wrapper .search-options md-divider.prm-hue11, prm-journals-search-bar .simple-search-wrapper .search-options md-divider.prm-hue11, prm-browse-search-bar .simple-search-wrapper .search-options md-divider.prm-hue11, prm-tags-search-bar .simple-search-wrapper .search-options md-divider.prm-hue11, .prm-hue11.prm-view-overlay-inner, .__xs prm-facet.prm-hue11,
  .__sm prm-facet.prm-hue11, .__sm .prm-hue11.sidebar,
  .__xs .prm-hue11.sidebar, .multiselect-submit .prm-hue11.multiselect-submit-inner, prm-full-view-cont prm-recomendation-item .media-on-hover .prm-hue11.pin-button, prm-full-view-cont .prm-hue11.recommendations-title:after, prm-full-view-cont .recommendations-title prm-icon.prm-hue11, md-virtual-repeat-container#prm-simple-search .md-autocomplete-suggestions md-divider.prm-hue11, md-dialog md-toolbar.prm-hue11:not(.md-menu-toolbar), md-card .prm-hue11.card-content-block, md-toolbar.citations-toolbar .toolbar-section,
  md-toolbar.md-primoExplore-theme.citations-toolbar .toolbar-section,
  md-toolbar:not(.md-menu-toolbar).citations-toolbar .toolbar-section {
    background-color: #e4e4e4; }
  .prm-background.prm-hue13, html.prm-hue13, body.prm-hue13, prm-search .prm-hue13.ui-blocker, prm-featured-results .horizontal-content-container .prm-hue13.horizontal-content-control, prm-search-bar .simple-search-wrapper .prm-hue13.search-options:after, prm-journals-search-bar .simple-search-wrapper .prm-hue13.search-options:after, prm-browse-search-bar .simple-search-wrapper .prm-hue13.search-options:after, prm-tags-search-bar .simple-search-wrapper .prm-hue13.search-options:after, prm-search-bar .simple-search-wrapper .search-options md-divider.prm-hue13, prm-journals-search-bar .simple-search-wrapper .search-options md-divider.prm-hue13, prm-browse-search-bar .simple-search-wrapper .search-options md-divider.prm-hue13, prm-tags-search-bar .simple-search-wrapper .search-options md-divider.prm-hue13, .prm-hue13.prm-view-overlay-inner, .__xs prm-facet.prm-hue13,
  .__sm prm-facet.prm-hue13, .__sm .prm-hue13.sidebar,
  .__xs .prm-hue13.sidebar, .multiselect-submit .prm-hue13.multiselect-submit-inner, prm-full-view-cont prm-recomendation-item .media-on-hover .prm-hue13.pin-button, prm-full-view-cont .prm-hue13.recommendations-title:after, prm-full-view-cont .recommendations-title prm-icon.prm-hue13, md-virtual-repeat-container#prm-simple-search .md-autocomplete-suggestions md-divider.prm-hue13, md-dialog md-toolbar.prm-hue13:not(.md-menu-toolbar), md-card .prm-hue13.card-content-block {
    background-color: #eeeeee; }
  .prm-background-color, md-grid-tile .message-with-icon md-icon,
  .tiles-grid-tile .message-with-icon md-icon {
    color: #e9e9e9; }
    .prm-background-color.prm-hue4, .service-form-static-panel, md-grid-tile .message-with-icon md-icon.prm-hue4,
    .tiles-grid-tile .message-with-icon md-icon.prm-hue4 {
      color: #f1f1f1; }
  .prm-background-border, prm-search-result-list .results-header, .list-item-wrapper, .action-list-content md-divider, prm-search-bar .advanced-search-tabs, prm-journals-search-bar .advanced-search-tabs, prm-browse-search-bar .advanced-search-tabs, prm-tags-search-bar .advanced-search-tabs, prm-search-bar .advanced-search-output md-card, prm-journals-search-bar .advanced-search-output md-card, prm-browse-search-bar .advanced-search-output md-card, prm-tags-search-bar .advanced-search-output md-card, md-grid-tile md-list md-list-item,
  md-grid-tile .tile-content md-list-item,
  .tiles-grid-tile md-list md-list-item,
  .tiles-grid-tile .tile-content md-list-item, md-grid-tile md-list md-divider,
  md-grid-tile .tile-content md-divider,
  .tiles-grid-tile md-list md-divider,
  .tiles-grid-tile .tile-content md-divider {
    border-color: #e9e9e9;
    border-color: #e1e1e1 !important; }
    .prm-background-border.prm-hue1, prm-search-result-list .prm-hue1.results-header, .prm-hue1.list-item-wrapper, .action-list-content md-divider.prm-hue1, prm-search-bar .prm-hue1.advanced-search-tabs, prm-journals-search-bar .prm-hue1.advanced-search-tabs, prm-browse-search-bar .prm-hue1.advanced-search-tabs, prm-tags-search-bar .prm-hue1.advanced-search-tabs, prm-search-bar .advanced-search-output md-card.prm-hue1, prm-journals-search-bar .advanced-search-output md-card.prm-hue1, prm-browse-search-bar .advanced-search-output md-card.prm-hue1, prm-tags-search-bar .advanced-search-output md-card.prm-hue1, md-grid-tile md-list md-list-item.prm-hue1,
    md-grid-tile .tile-content md-list-item.prm-hue1,
    .tiles-grid-tile md-list md-list-item.prm-hue1,
    .tiles-grid-tile .tile-content md-list-item.prm-hue1, md-grid-tile md-list md-divider.prm-hue1,
    md-grid-tile .tile-content md-divider.prm-hue1,
    .tiles-grid-tile md-list md-divider.prm-hue1,
    .tiles-grid-tile .tile-content md-divider.prm-hue1 {
      border-color: #f0f0f0;
      border-color: #d5d5d5 !important; }
    .prm-background-border.prm-hue2, prm-search-result-list .prm-hue2.results-header, .prm-hue2.list-item-wrapper, .action-list-content md-divider.prm-hue2, prm-search-bar .prm-hue2.advanced-search-tabs, prm-journals-search-bar .prm-hue2.advanced-search-tabs, prm-browse-search-bar .prm-hue2.advanced-search-tabs, prm-tags-search-bar .prm-hue2.advanced-search-tabs, prm-search-bar .advanced-search-output md-card.prm-hue2, prm-journals-search-bar .advanced-search-output md-card.prm-hue2, prm-browse-search-bar .advanced-search-output md-card.prm-hue2, prm-tags-search-bar .advanced-search-output md-card.prm-hue2, md-grid-tile md-list md-list-item.prm-hue2,
    md-grid-tile .tile-content md-list-item.prm-hue2,
    .tiles-grid-tile md-list md-list-item.prm-hue2,
    .tiles-grid-tile .tile-content md-list-item.prm-hue2, md-grid-tile md-list md-divider.prm-hue2,
    md-grid-tile .tile-content md-divider.prm-hue2,
    .tiles-grid-tile md-list md-divider.prm-hue2,
    .tiles-grid-tile .tile-content md-divider.prm-hue2 {
      border-color: #ececec !important; }
    .prm-background-border.prm-hue3, .bar.filter-bar, prm-search-result-list .prm-hue3.results-header, .prm-hue3.list-item-wrapper, .action-list-content md-divider.prm-hue3, prm-search-bar .prm-hue3.advanced-search-tabs, prm-journals-search-bar .prm-hue3.advanced-search-tabs, prm-browse-search-bar .prm-hue3.advanced-search-tabs, prm-tags-search-bar .prm-hue3.advanced-search-tabs, prm-search-bar .advanced-search-output md-card.prm-hue3, prm-journals-search-bar .advanced-search-output md-card.prm-hue3, prm-browse-search-bar .advanced-search-output md-card.prm-hue3, prm-tags-search-bar .advanced-search-output md-card.prm-hue3, md-grid-tile md-list md-list-item.prm-hue3,
    md-grid-tile .tile-content md-list-item.prm-hue3,
    .tiles-grid-tile md-list md-list-item.prm-hue3,
    .tiles-grid-tile .tile-content md-list-item.prm-hue3, md-grid-tile md-list md-divider.prm-hue3,
    md-grid-tile .tile-content md-divider.prm-hue3,
    .tiles-grid-tile md-list md-divider.prm-hue3,
    .tiles-grid-tile .tile-content md-divider.prm-hue3 {
      border-color: #e1e1e1; }
    .prm-background-border.prm-hue4, prm-search-result-list .prm-hue4.results-header, .prm-hue4.list-item-wrapper, .action-list-content md-divider.prm-hue4, prm-search-bar .prm-hue4.advanced-search-tabs, prm-journals-search-bar .prm-hue4.advanced-search-tabs, prm-browse-search-bar .prm-hue4.advanced-search-tabs, prm-tags-search-bar .prm-hue4.advanced-search-tabs, prm-search-bar .advanced-search-output md-card.prm-hue4, prm-journals-search-bar .advanced-search-output md-card.prm-hue4, prm-browse-search-bar .advanced-search-output md-card.prm-hue4, prm-tags-search-bar .advanced-search-output md-card.prm-hue4, md-grid-tile md-list md-list-item.prm-hue4,
    md-grid-tile .tile-content md-list-item.prm-hue4,
    .tiles-grid-tile md-list md-list-item.prm-hue4,
    .tiles-grid-tile .tile-content md-list-item.prm-hue4, md-grid-tile md-list md-divider.prm-hue4,
    md-grid-tile .tile-content md-divider.prm-hue4,
    .tiles-grid-tile md-list md-divider.prm-hue4,
    .tiles-grid-tile .tile-content md-divider.prm-hue4, md-toolbar.citations-toolbar .toolbar-section,
    md-toolbar.md-primoExplore-theme.citations-toolbar .toolbar-section,
    md-toolbar:not(.md-menu-toolbar).citations-toolbar .toolbar-section {
      border-color: #d7d7d7; }

.prm-links, .md-button.arrow-link-button [link-arrow], a, .md-button.arrow-link-button .button-content, [class*="NFT"] > span,
[class*="check_"] > span,
[class*="_more"] > span,
[class*="_unknown"] > span,
[class*="may_"] > span,
[class*="does_not_exist"] > span,
.woldcat > span,
.getit > span, [class*="available"] > span,
[class*="FT"] > span,
.not_restricted > span,
.fulltext > span,
.fulltext_linktorsrc > span, [class*="unavailable"] > span,
[class*="no_"] > span,
.restricted > span,
.duedate > span, .login-dialog md-list md-list-item .md-list-item-text h3,
.login-dialog md-list md-list-item .md-list-item-text .list-item-title,
.login-dialog md-list md-list-item > .md-no-style .md-list-item-text h3,
.login-dialog md-list md-list-item > .md-no-style .md-list-item-text .list-item-title,
.login-dialog .md-list md-list-item .md-list-item-text h3,
.login-dialog .md-list md-list-item .md-list-item-text .list-item-title,
.login-dialog .md-list md-list-item > .md-no-style .md-list-item-text h3,
.login-dialog .md-list md-list-item > .md-no-style .md-list-item-text .list-item-title,
.login-dialog .md-list[class$="-line"] md-list-item .md-list-item-text h3,
.login-dialog .md-list[class$="-line"] md-list-item .md-list-item-text .list-item-title,
.login-dialog .md-list[class$="-line"] md-list-item > .md-no-style .md-list-item-text h3,
.login-dialog .md-list[class$="-line"] md-list-item > .md-no-style .md-list-item-text .list-item-title, .login-dialog .collapsable-container md-list md-list-item .md-list-item-inner, prm-tags-list .md-chips .md-chip .md-chip-content strong, prm-tags-list .md-chips md-chip .md-chip-content strong, prm-tags-list md-chips .md-chip .md-chip-content strong, prm-tags-list md-chips md-chip .md-chip-content strong, md-tabs.tabs-as-links md-tab-item,
md-tabs.tabs-as-links md-tab-item:not([disabled]), md-tabs.tabs-as-app .back-button, md-grid-tile .tile-header .header-link .arrow-icon,
.tiles-grid-tile .tile-header .header-link .arrow-icon, md-grid-tile .tile-header .header-link:hover, md-grid-tile .tile-header .header-link:focus,
.tiles-grid-tile .tile-header .header-link:hover,
.tiles-grid-tile .tile-header .header-link:focus, md-grid-tile .tile-header .md-button,
.tiles-grid-tile .tile-header .md-button, md-input-container.has-fixed-message [ng-message] a, .separate-list-items md-list-item .item-loader-with-text .md-button, md-list-item.list-item-as-link {
  color: #001add; }
  .prm-links-important, .text-link {
    color: #001add !important; }
  .prm-links.prm-links-hover, .md-button.arrow-link-button .prm-links-hover[link-arrow], a.prm-links-hover, .md-button.arrow-link-button .prm-links-hover.button-content, [class*="NFT"] > span.prm-links-hover,
  [class*="check_"] > span.prm-links-hover,
  [class*="_more"] > span.prm-links-hover,
  [class*="_unknown"] > span.prm-links-hover,
  [class*="may_"] > span.prm-links-hover,
  [class*="does_not_exist"] > span.prm-links-hover,
  .woldcat > span.prm-links-hover,
  .getit > span.prm-links-hover, [class*="available"] > span.prm-links-hover,
  [class*="FT"] > span.prm-links-hover,
  .not_restricted > span.prm-links-hover,
  .fulltext > span.prm-links-hover,
  .fulltext_linktorsrc > span.prm-links-hover, [class*="unavailable"] > span.prm-links-hover,
  [class*="no_"] > span.prm-links-hover,
  .restricted > span.prm-links-hover,
  .duedate > span.prm-links-hover, .login-dialog md-list md-list-item .md-list-item-text h3.prm-links-hover,
  .login-dialog md-list md-list-item .md-list-item-text .prm-links-hover.list-item-title,
  .login-dialog .md-list md-list-item .md-list-item-text h3.prm-links-hover,
  .login-dialog .md-list md-list-item .md-list-item-text .prm-links-hover.list-item-title,
  .login-dialog .md-list[class$="-line"] md-list-item > .md-no-style .md-list-item-text h3.prm-links-hover,
  .login-dialog .md-list[class$="-line"] md-list-item > .md-no-style .md-list-item-text .prm-links-hover.list-item-title, .login-dialog .collapsable-container md-list md-list-item .prm-links-hover.md-list-item-inner, prm-tags-list .md-chips .md-chip .md-chip-content strong.prm-links-hover, prm-tags-list .md-chips md-chip .md-chip-content strong.prm-links-hover, prm-tags-list md-chips .md-chip .md-chip-content strong.prm-links-hover, prm-tags-list md-chips md-chip .md-chip-content strong.prm-links-hover, md-tabs.tabs-as-links md-tab-item.prm-links-hover, md-tabs.tabs-as-app .prm-links-hover.back-button, md-grid-tile .tile-header .header-link .prm-links-hover.arrow-icon,
  .tiles-grid-tile .tile-header .header-link .prm-links-hover.arrow-icon, md-grid-tile .tile-header .prm-links-hover.header-link:hover, md-grid-tile .tile-header .prm-links-hover.header-link:focus,
  .tiles-grid-tile .tile-header .prm-links-hover.header-link:hover,
  .tiles-grid-tile .tile-header .prm-links-hover.header-link:focus, md-grid-tile .tile-header .prm-links-hover.md-button,
  .tiles-grid-tile .tile-header .prm-links-hover.md-button, md-input-container.has-fixed-message [ng-message] a.prm-links-hover, .separate-list-items md-list-item .item-loader-with-text .prm-links-hover.md-button, md-list-item.prm-links-hover.list-item-as-link {
    color: #000e77; }
  .prm-links.prm-alt-link, .md-button.arrow-link-button .prm-alt-link[link-arrow], a.prm-alt-link, .md-button.arrow-link-button .prm-alt-link.button-content, [class*="NFT"] > span.prm-alt-link,
  [class*="check_"] > span.prm-alt-link,
  [class*="_more"] > span.prm-alt-link,
  [class*="_unknown"] > span.prm-alt-link,
  [class*="may_"] > span.prm-alt-link,
  [class*="does_not_exist"] > span.prm-alt-link,
  .woldcat > span.prm-alt-link,
  .getit > span.prm-alt-link, [class*="available"] > span.prm-alt-link,
  [class*="FT"] > span.prm-alt-link,
  .not_restricted > span.prm-alt-link,
  .fulltext > span.prm-alt-link,
  .fulltext_linktorsrc > span.prm-alt-link, [class*="unavailable"] > span.prm-alt-link,
  [class*="no_"] > span.prm-alt-link,
  .restricted > span.prm-alt-link,
  .duedate > span.prm-alt-link, .login-dialog md-list md-list-item .md-list-item-text h3.prm-alt-link,
  .login-dialog md-list md-list-item .md-list-item-text .prm-alt-link.list-item-title,
  .login-dialog .md-list md-list-item .md-list-item-text h3.prm-alt-link,
  .login-dialog .md-list md-list-item .md-list-item-text .prm-alt-link.list-item-title,
  .login-dialog .md-list[class$="-line"] md-list-item > .md-no-style .md-list-item-text h3.prm-alt-link,
  .login-dialog .md-list[class$="-line"] md-list-item > .md-no-style .md-list-item-text .prm-alt-link.list-item-title, .login-dialog .collapsable-container md-list md-list-item .prm-alt-link.md-list-item-inner, prm-tags-list .md-chips .md-chip .md-chip-content strong.prm-alt-link, prm-tags-list .md-chips md-chip .md-chip-content strong.prm-alt-link, prm-tags-list md-chips .md-chip .md-chip-content strong.prm-alt-link, prm-tags-list md-chips md-chip .md-chip-content strong.prm-alt-link, md-tabs.tabs-as-links md-tab-item.prm-alt-link, md-tabs.tabs-as-app .prm-alt-link.back-button, md-grid-tile .tile-header .header-link .prm-alt-link.arrow-icon,
  .tiles-grid-tile .tile-header .header-link .prm-alt-link.arrow-icon, md-grid-tile .tile-header .prm-alt-link.header-link:hover, md-grid-tile .tile-header .prm-alt-link.header-link:focus,
  .tiles-grid-tile .tile-header .prm-alt-link.header-link:hover,
  .tiles-grid-tile .tile-header .prm-alt-link.header-link:focus, md-grid-tile .tile-header .prm-alt-link.md-button,
  .tiles-grid-tile .tile-header .prm-alt-link.md-button, md-input-container.has-fixed-message [ng-message] a.prm-alt-link, .separate-list-items md-list-item .item-loader-with-text .prm-alt-link.md-button, md-list-item.prm-alt-link.list-item-as-link {
    color: #775c34; }
    .prm-links.prm-alt-link.prm-hue1, .md-button.arrow-link-button .prm-alt-link.prm-hue1[link-arrow], a.prm-alt-link.prm-hue1, .md-button.arrow-link-button .prm-alt-link.prm-hue1.button-content, [class*="NFT"] > span.prm-alt-link.prm-hue1,
    [class*="check_"] > span.prm-alt-link.prm-hue1,
    [class*="_more"] > span.prm-alt-link.prm-hue1,
    [class*="_unknown"] > span.prm-alt-link.prm-hue1,
    [class*="may_"] > span.prm-alt-link.prm-hue1,
    [class*="does_not_exist"] > span.prm-alt-link.prm-hue1,
    .woldcat > span.prm-alt-link.prm-hue1,
    .getit > span.prm-alt-link.prm-hue1, [class*="available"] > span.prm-alt-link.prm-hue1,
    [class*="FT"] > span.prm-alt-link.prm-hue1,
    .not_restricted > span.prm-alt-link.prm-hue1,
    .fulltext > span.prm-alt-link.prm-hue1,
    .fulltext_linktorsrc > span.prm-alt-link.prm-hue1, [class*="unavailable"] > span.prm-alt-link.prm-hue1,
    [class*="no_"] > span.prm-alt-link.prm-hue1,
    .restricted > span.prm-alt-link.prm-hue1,
    .duedate > span.prm-alt-link.prm-hue1, .login-dialog md-list md-list-item .md-list-item-text h3.prm-alt-link.prm-hue1,
    .login-dialog md-list md-list-item .md-list-item-text .prm-alt-link.prm-hue1.list-item-title,
    .login-dialog .md-list md-list-item .md-list-item-text h3.prm-alt-link.prm-hue1,
    .login-dialog .md-list md-list-item .md-list-item-text .prm-alt-link.prm-hue1.list-item-title, .login-dialog .collapsable-container md-list md-list-item .prm-alt-link.prm-hue1.md-list-item-inner, prm-main-menu[menu-type="full"] md-card .md-headline, prm-tags-list .md-chips .md-chip .md-chip-content strong.prm-alt-link.prm-hue1, prm-tags-list .md-chips md-chip .md-chip-content strong.prm-alt-link.prm-hue1, prm-tags-list md-chips .md-chip .md-chip-content strong.prm-alt-link.prm-hue1, prm-tags-list md-chips md-chip .md-chip-content strong.prm-alt-link.prm-hue1, md-tabs.tabs-as-links md-tab-item.prm-alt-link.prm-hue1, md-tabs.tabs-as-app .prm-alt-link.prm-hue1.back-button, md-grid-tile .tile-header .header-link .prm-alt-link.prm-hue1.arrow-icon,
    .tiles-grid-tile .tile-header .header-link .prm-alt-link.prm-hue1.arrow-icon, md-grid-tile .tile-header .prm-alt-link.prm-hue1.header-link:hover, md-grid-tile .tile-header .prm-alt-link.prm-hue1.header-link:focus,
    .tiles-grid-tile .tile-header .prm-alt-link.prm-hue1.header-link:hover,
    .tiles-grid-tile .tile-header .prm-alt-link.prm-hue1.header-link:focus, md-grid-tile .tile-header .prm-alt-link.prm-hue1.md-button,
    .tiles-grid-tile .tile-header .prm-alt-link.prm-hue1.md-button, md-input-container.has-fixed-message [ng-message] a.prm-alt-link.prm-hue1, .separate-list-items md-list-item .item-loader-with-text .prm-alt-link.prm-hue1.md-button, md-list-item.prm-alt-link.prm-hue1.list-item-as-link {
      color: #73E9FF; }
  .prm-links-bg {
    color: #001add; }
    .prm-links-bg:hover:not([disabled]), .prm-links-bg:focus:not([disabled]), .prm-links-bg.hovered:not([disabled]), .prm-links-bg.md-focused:not([disabled]), .prm-links-bg._md-focused:not([disabled]) {
      color: #000e77;
      background-color: rgba(0, 26, 221, 0.1); }
    .prm-links-bg.prm-hue-1 {
      background-color: rgba(0, 26, 221, 0.1); }
  .prm-links-background.prm-hue-1, a:hover, .md-button.arrow-link-button .button-content:hover, .recommendations-title:hover > span > span, .recommendations-title.hover > span > span, prm-tags-list .md-chips .md-chip .md-chip-content:hover strong, prm-tags-list .md-chips md-chip .md-chip-content:hover strong, prm-tags-list md-chips .md-chip .md-chip-content:hover strong, prm-tags-list md-chips md-chip .md-chip-content:hover strong, a:focus, .md-button.arrow-link-button .button-content:focus, a.hover, .md-button.arrow-link-button .hover.button-content, .md-button.arrow-link-button:hover .button-content, .md-button.arrow-link-button:focus .button-content, prm-citation-trails-item.active-item md-card > .md-button:hover .item-title span, prm-citation-trails-item.active-item md-card > .md-button:focus .item-title span {
    background-color: rgba(0, 26, 221, 0.1); }
  .prm-links-background.prm-hue-2 {
    background-color: rgba(0, 26, 221, 0); }
  .prm-links-hover.prm-hue-1, a:hover, .md-button.arrow-link-button .button-content:hover, .recommendations-title:hover > span > span, .recommendations-title.hover > span > span, prm-tags-list .md-chips .md-chip .md-chip-content:hover strong, prm-tags-list .md-chips md-chip .md-chip-content:hover strong, prm-tags-list md-chips .md-chip .md-chip-content:hover strong, prm-tags-list md-chips md-chip .md-chip-content:hover strong, a:focus, .md-button.arrow-link-button .button-content:focus, a.hover, .md-button.arrow-link-button .hover.button-content, .md-button.arrow-link-button:hover .button-content, .md-button.arrow-link-button:focus .button-content, prm-citation-trails-item.active-item md-card > .md-button:hover .item-title span, prm-citation-trails-item.active-item md-card > .md-button:focus .item-title span {
    color: #000e77; }
  .prm-links-hover.prm-hue-2 {
    color: rgba(0, 14, 119, 0.5); }
  .prm-links-hover.prm-hue-3 {
    color: rgba(0, 26, 221, 0); }

.prm-text, body, a.a-tag-as-wrapper, .md-button.arrow-link-button .a-tag-as-wrapper.button-content, a.a-tag-as-wrapper:hover, .recommendations-title:hover > span > span.a-tag-as-wrapper, .recommendations-title.hover > span > span.a-tag-as-wrapper, prm-tags-list .md-chips .md-chip .md-chip-content:hover strong.a-tag-as-wrapper, prm-tags-list .md-chips md-chip .md-chip-content:hover strong.a-tag-as-wrapper, prm-tags-list md-chips .md-chip .md-chip-content:hover strong.a-tag-as-wrapper, prm-tags-list md-chips md-chip .md-chip-content:hover strong.a-tag-as-wrapper, a.a-tag-as-wrapper:focus, .hack-a-tag-unclickable a, .hack-a-tag-unclickable .md-button.arrow-link-button .button-content, .md-button.arrow-link-button .hack-a-tag-unclickable .button-content, prm-search-bar, prm-journals-search-bar, prm-browse-search-bar, prm-tags-search-bar, prm-virtual-browse-item md-card md-card-title, prm-virtual-browse-item md-card md-card-content, md-input-container.static-select.md-input-has-value label,
md-input-container.static-select.md-input-has-value label:not(.md-no-float), .presentable-disabled-inputs md-input-container label, md-tooltip.bright-tooltip .md-content, md-tooltip.bright-tooltip ._md-content, md-toolbar.transparent-toolbar,
md-toolbar.md-primoExplore-theme.transparent-toolbar,
md-toolbar.transparent-toolbar:not(.md-menu-toolbar), md-toolbar.default-toolbar,
md-toolbar.md-primoExplore-theme.default-toolbar,
md-toolbar.default-toolbar:not(.md-menu-toolbar) {
  color: #3a3a3a; }
  .prm-text.prm-hue1, body.prm-hue1, .weak-text, .numbered-list .item:before, prm-brief-result-container .media-content-type, prm-snippet prm-icon, .prm-recommendations-fullview .resource-count, a.prm-hue1.a-tag-as-wrapper, .md-button.arrow-link-button .prm-hue1.a-tag-as-wrapper.button-content, .recommendations-title:hover > span > span.prm-hue1.a-tag-as-wrapper, .recommendations-title.hover > span > span.prm-hue1.a-tag-as-wrapper, prm-tags-list .md-chips .md-chip .md-chip-content:hover strong.prm-hue1.a-tag-as-wrapper, prm-tags-list .md-chips md-chip .md-chip-content:hover strong.prm-hue1.a-tag-as-wrapper, prm-tags-list md-chips .md-chip .md-chip-content:hover strong.prm-hue1.a-tag-as-wrapper, prm-tags-list md-chips md-chip .md-chip-content:hover strong.prm-hue1.a-tag-as-wrapper, .hack-a-tag-unclickable a.prm-hue1, .hack-a-tag-unclickable .md-button.arrow-link-button .prm-hue1.button-content, .md-button.arrow-link-button .hack-a-tag-unclickable .prm-hue1.button-content, prm-search-bar.prm-hue1, prm-journals-search-bar.prm-hue1, prm-browse-search-bar.prm-hue1, prm-tags-search-bar.prm-hue1, prm-virtual-browse-item md-card md-card-title.prm-hue1, prm-virtual-browse-item md-card md-card-content.prm-hue1, md-input-container.static-select.md-input-has-value label.prm-hue1, .presentable-disabled-inputs md-input-container label.prm-hue1, md-tooltip.bright-tooltip .prm-hue1.md-content, md-tooltip.bright-tooltip .prm-hue1._md-content, md-toolbar.prm-hue1.transparent-toolbar, md-toolbar.prm-hue1.default-toolbar {
    color: #878787; }

.prm-warn, md-input-container.md-required:before, md-input-container.md-input-invalid:before, .required-starlet, .md-chip-remove-container button:hover md-icon, .md-chip-remove-container button:focus md-icon, prm-tags-list .md-chips.md-removable .md-chip .md-chip-remove md-icon, prm-tags-list .md-chips.md-removable md-chip .md-chip-remove md-icon, prm-tags-list md-chips.md-removable .md-chip .md-chip-remove md-icon, prm-tags-list md-chips.md-removable md-chip .md-chip-remove md-icon, md-input-container.md-input-invalid, .md-chips .md-chip.toggleable-chip .md-chip-remove-container prm-icon.close-button {
  color: #C61029; }
  .prm-warn-bg, .multiselect-facet-group .md-chip.facet-excluded md-checkbox.md-checked ._md-icon, md-input-container.md-input-invalid:after, prm-tags-list .md-chips .md-input-invalid.md-chip-input-container:after, prm-tags-list .md-chips .md-input-invalid._md-chip-input-container:after, prm-tags-list md-chips .md-input-invalid.md-chip-input-container:after, prm-tags-list md-chips .md-input-invalid._md-chip-input-container:after {
    background-color: #C61029; }

.prm-alert, .bar.alert-bar, .classic-input .search-scope {
  color: black; }
  .prm-alert-bg, .bar.alert-bar, .classic-input .search-scope {
    background-color: #F7EDA3; }
  .prm-alert-border, .bar.alert-bar, .classic-input .search-scope {
    border-color: #ede49e; }

.prm-highlight, prm-breadcrumbs .md-chip.persistent-facet {
  background-color: #FFFCC4; }
  .prm-highlight.prm-hue1, .list-item-wrapper .item-bookmarked,
  .list-item-wrapper .item-bookmarked:hover, prm-breadcrumbs .prm-hue1.md-chip.persistent-facet {
    background-color: #FFFCC4; }

.prm-notice, .status-maybe, [class*="NFT"],
[class*="check_"],
[class*="_more"],
[class*="_unknown"],
[class*="may_"],
[class*="does_not_exist"],
.woldcat,
.getit, prm-search-result-frbr-line a > prm-icon:first-child, prm-search-result-frbr-line .md-button.arrow-link-button .button-content > prm-icon:first-child, .md-button.arrow-link-button prm-search-result-frbr-line .button-content > prm-icon:first-child {
  color: #C75B12; }

.prm-positive, .status-available, [class*="available"],
[class*="FT"],
.not_restricted,
.fulltext,
.fulltext_linktorsrc {
  color: #4A7C01; }
  .prm-positive-bg, .multiselect-submit .multiselect-submit-inner .md-button.md-primary {
    background-color: #4A7C01; }

.prm-negative, .status-unavailable, [class*="unavailable"],
[class*="no_"],
.restricted,
.duedate {
  color: #C75B12; }

.prm-citation-color, prm-citation-trails-item .item-type {
  color: tomato; }
  .prm-citation-color.citation-hover, prm-citation-trails-item .citation-hover.item-type, prm-citation-trails-indication .md-button.md-icon-button:hover, prm-citation-trails-indication .md-button.button-with-icon:hover {
    color: #7a1300; }

.prm-citation-title, prm-citation-trails-item.active-item .item-title, prm-opac .related-title .related-title-name, prm-browse-search md-list.prm-list.prm-linkable-list-items md-list-item .item-title, prm-tags-results-list md-list.prm-list.prm-linkable-list-items md-list-item .item-title, md-list.prm-list.prm-linkable-list-items md-list-item .item-title {
  color: #44707b; }

.prm-hover-list-element-bg, prm-brief-result-container .list-item-primary-content:before, prm-browse-search md-list.prm-list.prm-linkable-list-items md-list-item > .md-button > a:hover + .md-list-item-inner,
prm-browse-search md-list.prm-list.prm-linkable-list-items md-list-item > .md-button > a:hover + ._md-list-item-inner, prm-browse-search md-list.prm-list.prm-linkable-list-items md-list-item > .md-button > a:focus + .md-list-item-inner,
prm-browse-search md-list.prm-list.prm-linkable-list-items md-list-item > .md-button > a:focus + ._md-list-item-inner, prm-tags-results-list md-list.prm-list.prm-linkable-list-items md-list-item > .md-button > a:hover + .md-list-item-inner,
prm-tags-results-list md-list.prm-list.prm-linkable-list-items md-list-item > .md-button > a:hover + ._md-list-item-inner, prm-tags-results-list md-list.prm-list.prm-linkable-list-items md-list-item > .md-button > a:focus + .md-list-item-inner,
prm-tags-results-list md-list.prm-list.prm-linkable-list-items md-list-item > .md-button > a:focus + ._md-list-item-inner, md-list.prm-list.prm-linkable-list-items md-list-item > .md-button > a:hover + .md-list-item-inner, md-list.prm-list.prm-linkable-list-items .md-button.arrow-link-button md-list-item > .md-button > .button-content:hover + .md-list-item-inner, .md-button.arrow-link-button md-list.prm-list.prm-linkable-list-items md-list-item > .md-button > .button-content:hover + .md-list-item-inner, md-list.prm-list.prm-linkable-list-items md-list-item.recommendations-title:hover > span.md-button > span + .md-list-item-inner, md-list.prm-list.prm-linkable-list-items md-list-item.recommendations-title.hover > span.md-button > span + .md-list-item-inner, md-list.prm-list.prm-linkable-list-items prm-tags-list .md-chips .md-chip .md-chip-content:hover md-list-item > .md-button > strong + .md-list-item-inner, prm-tags-list .md-chips .md-chip .md-chip-content:hover md-list.prm-list.prm-linkable-list-items md-list-item > .md-button > strong + .md-list-item-inner, md-list.prm-list.prm-linkable-list-items prm-tags-list .md-chips md-chip .md-chip-content:hover md-list-item > .md-button > strong + .md-list-item-inner, prm-tags-list .md-chips md-chip .md-chip-content:hover md-list.prm-list.prm-linkable-list-items md-list-item > .md-button > strong + .md-list-item-inner, md-list.prm-list.prm-linkable-list-items prm-tags-list md-chips .md-chip .md-chip-content:hover md-list-item > .md-button > strong + .md-list-item-inner, prm-tags-list md-chips .md-chip .md-chip-content:hover md-list.prm-list.prm-linkable-list-items md-list-item > .md-button > strong + .md-list-item-inner, md-list.prm-list.prm-linkable-list-items prm-tags-list md-chips md-chip .md-chip-content:hover md-list-item > .md-button > strong + .md-list-item-inner, prm-tags-list md-chips md-chip .md-chip-content:hover md-list.prm-list.prm-linkable-list-items md-list-item > .md-button > strong + .md-list-item-inner,
md-list.prm-list.prm-linkable-list-items md-list-item > .md-button > a:hover + ._md-list-item-inner,
md-list.prm-list.prm-linkable-list-items .md-button.arrow-link-button md-list-item > .md-button > .button-content:hover + ._md-list-item-inner, .md-button.arrow-link-button
md-list.prm-list.prm-linkable-list-items md-list-item > .md-button > .button-content:hover + ._md-list-item-inner,
md-list.prm-list.prm-linkable-list-items md-list-item.recommendations-title:hover > span.md-button > span + ._md-list-item-inner,
md-list.prm-list.prm-linkable-list-items md-list-item.recommendations-title.hover > span.md-button > span + ._md-list-item-inner,
md-list.prm-list.prm-linkable-list-items prm-tags-list .md-chips .md-chip .md-chip-content:hover md-list-item > .md-button > strong + ._md-list-item-inner, prm-tags-list .md-chips .md-chip .md-chip-content:hover
md-list.prm-list.prm-linkable-list-items md-list-item > .md-button > strong + ._md-list-item-inner,
md-list.prm-list.prm-linkable-list-items prm-tags-list .md-chips md-chip .md-chip-content:hover md-list-item > .md-button > strong + ._md-list-item-inner, prm-tags-list .md-chips md-chip .md-chip-content:hover
md-list.prm-list.prm-linkable-list-items md-list-item > .md-button > strong + ._md-list-item-inner,
md-list.prm-list.prm-linkable-list-items prm-tags-list md-chips .md-chip .md-chip-content:hover md-list-item > .md-button > strong + ._md-list-item-inner, prm-tags-list md-chips .md-chip .md-chip-content:hover
md-list.prm-list.prm-linkable-list-items md-list-item > .md-button > strong + ._md-list-item-inner,
md-list.prm-list.prm-linkable-list-items prm-tags-list md-chips md-chip .md-chip-content:hover md-list-item > .md-button > strong + ._md-list-item-inner, prm-tags-list md-chips md-chip .md-chip-content:hover
md-list.prm-list.prm-linkable-list-items md-list-item > .md-button > strong + ._md-list-item-inner, md-list.prm-list.prm-linkable-list-items md-list-item > .md-button > a:focus + .md-list-item-inner, md-list.prm-list.prm-linkable-list-items .md-button.arrow-link-button md-list-item > .md-button > .button-content:focus + .md-list-item-inner, .md-button.arrow-link-button md-list.prm-list.prm-linkable-list-items md-list-item > .md-button > .button-content:focus + .md-list-item-inner,
md-list.prm-list.prm-linkable-list-items md-list-item > .md-button > a:focus + ._md-list-item-inner,
md-list.prm-list.prm-linkable-list-items .md-button.arrow-link-button md-list-item > .md-button > .button-content:focus + ._md-list-item-inner, .md-button.arrow-link-button
md-list.prm-list.prm-linkable-list-items md-list-item > .md-button > .button-content:focus + ._md-list-item-inner {
  background-color: white; }

.prm-peer-reviewed {
  color: #8359d4; }

.prm-open-access {
  color: #f68212; }

.prm-personalization, prm-search-result-list prm-personalize-results-button .md-button md-switch.md-checked .md-label, prm-search-result-list prm-personalize-results-button .md-button md-switch.md-checked ._md-label, prm-search-result-list prm-personalize-results-button .md-button md-switch._md-checked .md-label, prm-search-result-list prm-personalize-results-button .md-button md-switch._md-checked ._md-label, .sidebar .personalization-section .section-title-header,
.sidebar .personalization-section .sidebar-list,
.sidebar .personalization-section md-checkbox {
  color: #7d1538; }
  .prm-personalization-bg, prm-search-result-list prm-personalize-results-button .md-button md-switch.md-checked .md-bar, prm-search-result-list prm-personalize-results-button .md-button md-switch.md-checked ._md-bar, prm-search-result-list prm-personalize-results-button .md-button md-switch._md-checked .md-bar, prm-search-result-list prm-personalize-results-button .md-button md-switch._md-checked ._md-bar, prm-search-result-list prm-personalize-results-button .md-button md-switch.md-checked .md-thumb, prm-search-result-list prm-personalize-results-button .md-button md-switch.md-checked ._md-thumb, prm-search-result-list prm-personalize-results-button .md-button md-switch._md-checked .md-thumb, prm-search-result-list prm-personalize-results-button .md-button md-switch._md-checked ._md-thumb, .sidebar .personalization-section md-checkbox.md-checked .md-icon, .sidebar .personalization-section .sidebar-list li:before, .sidebar .personalization-section ul li:before {
    background-color: #7d1538; }

/* primary color hook end*/